.cta_button {
    font-size: 12px;
    line-height: 1.4;
    font-weight: 500;

    strong {
        font-weight: 500;
    }
}

.cpa-btn {
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding: 16px 20px;
    font-size: 12px;
    line-height: 1.4;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    transition: all .2s linear;
    outline: 0;

    &--primary {
        background: transparent;
        color: $secondaryFontColor;
        border: 1px solid $accentColor;

        &:hover, &:active {
            background: $accentColor;
            color: #fff;
        }
    }

    &--secondary {
        background: transparent;
        color: #fff;
        border: 1px solid #fff;

        &:hover, &:active {
            background: #fff;
            color: $secondaryFontColor;
        }
    }
    &--third {
        background: $accentColor;
        color: #fff;
        border: 1px solid $accentColor;
        padding: 15px 40px;

        &:hover, &:active {
            background: transparent;
            color: #fff;
            appearance: none;
        }
    }
    &--fourth {
        background: $primaryFontColor;
        color: #fff;
        border: 1px solid $primaryFontColor;
        padding: 16px 39px;

        &:hover, &:active {
            background: #fff;
            color: $primaryFontColor;
        }
    }

    &--play-icon {
        padding-left: 70px;
        font-weight: normal;

        strong {
            font-weight: 500;
        }

        &:before {
            content: "";
            background-image: url('//cdn2.hubspot.net/hubfs/1576677/CPA%20Global%20ClickRay/assets/icon/magnific-video_play-icon.png');
            background-repeat: no-repeat;
            background-size: cover;
            display: inline-block;
            width: 36px;
            height: 36px;
            position: absolute;
            left: 20px;
            top: 50%;
            transform: translateY(-50%);
            transition: all .2s linear;
        }

        &:hover {

            &:before {
                background-image: url('//cdn2.hubspot.net/hubfs/1576677/CPA%20Global%20ClickRay/assets/icon/magnific-video_play-icon-inverse.png');
            }
        }
    }

}