.footer {
	position: relative;
	float: left;
	width: 100%;
	min-height: 300px;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: $primaryColor;
	color: #fff;
	font-weight: normal;

	a {
		transition: .2s all linear;

		&:hover {
			color: $secondaryFontColor;
		}
	}

	.widget-type-logo {

		a {
			display: inline-block;

			img {
				vertical-align: top;
			}
		}
	}


	.widget-type-menu {

		text-align: center;

		ul {

			li {
				font-size: 14px;
				margin-left: 25px;

				a {
					position: relative;
					padding: 0;
					padding-bottom: 3px;
					color: #fff;

					&:hover {

						&:after {
							content: "";
							position: absolute;
							bottom: 0;
							left: 0;
							width: 100%;
							border-bottom: 1px solid #fff;
						}
					}
				}
			}
		}
	}

	&__socials {
		margin-top: -10px;

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			text-align: right;

			li {
				margin-left: 10px;
				display: inline-block;

				a {
					font-size: 40px;
					color: #fff;
					transition: 0.2s linear;

					&:hover {
						color: $secondaryFontColor;
					}
				}
			}
		}
	}

	footer {
		text-align: right;
		margin-top: 90px;

		span {
			font-size: 14px;
		}
	}
}



@media (max-width: 767px) {
	.footer {
		text-align: center;

		.container {
			max-width: 550px;
		}

		.widget-type-logo {
			margin-bottom: 20px;
		}

		.widget-type-rich_text {
			margin-bottom: 20px;
		}

		.widget-type-menu {
			margin-bottom: 20px;

			ul {
				float: none;

				li {

					&:first-of-type {
						margin-left: 0;
					}
				}
			}
		}

		&__socials {
			margin: 0;

			ul {
				text-align: center;

				li {

					&:first-of-type {
						margin-left: 0;
					}
				}
			}
		}

		footer {
			text-align: center;
			margin-top: 50px;
		}
	}
}



@media (max-width: 568px) {
	.footer {
		.widget-type-menu {

			ul {

				li {
					margin-left: 0;
					margin-bottom: 10px;
				}
			}
		}
	}
}