body {
	margin: 0;
	overflow-x: hidden;
}

.container {
  max-width: 1090px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row-fluid [class*="span"] {
  min-height: 0px;
}

*, *:before, *:after {
	box-sizing: border-box;
}

.lead-section {
	position: relative;
	width: 100%;
	float: left;
	margin-top: 40px;
	margin-bottom: 60px;
	z-index: 5; //nie usuwać 
	@media (max-width: 767px) {
        margin-top: 40px;
		margin-bottom: 70px;
    }
}

.see-all-cta {
	position: relative;
	width: 100%;
	float: left;
	text-align: center;
	margin-top: 80px;
	// margin-bottom: 135px;
	@media (max-width: 767px) {
        margin-top: 20px;
        text-align: left;
    }
}

.law-lead-section {
    margin-bottom: 100px;
}

.horizontal-line {
	&.widget-type-space {
		max-width: 1200px;
		visibility: visible;
		width: 100%;
		margin: 20px auto !important;
		float: none;
		border-bottom: 1px solid #e0e0e0;
	}
}

.hs-breadcrumb-menu {
	font-size: 12px;
	color: #878787;
	.hs-breadcrumb-menu-item {
		a {
			text-decoration: none;
			color: inherit;
		}
		&:first-of-type {
			padding: 10px 0;
		}
		.hs-breadcrumb-menu-divider:before {
			content: '>';
		}
	}
	@media (max-width: 767px) {
		display: none;
	}
}