.header-wrapper {
	margin-bottom: 80px;
}

.header {
	position: fixed;
	width: 100%;
	float: left;
	height: 80px;
	background-color: #fff;
	border-bottom: 1px solid #e5e5e5;
	z-index: 1000;

	.widget-type-logo {
		line-height: 80px;

		img {
			vertical-align: middle;
		}
	}

	/* Header globals */
	.widget-type-menu {
		text-align: right;

		ul {
			text-align: left;
			vertical-align: middle;
			li {
				a {
					font-size: 14px;
					font-weight: normal;
					color: $primaryFontColor;
					transition: all .2s linear;

					&:hover {
						color: $secondaryFontColor;
					}
				}
			}

			li.hs-menu-depth-1 {
				margin-left: 10px;

				&:first-of-type {
					margin-left: 0;
				}
			}

		}

		.hs-menu-depth-1 {

			& > a {
				line-height: 60px;
				padding: 10px;
				font-weight: 500;
			}
		}

		&.left-menu {

			.hs-menu-depth-1 {

				& > a {
					color: $secondaryFontColor;
				}
			}
		}

	}
	/* End header globals */



	/* Header desktop */
	&__desktop {

		.row-fluid {
			display: table;

			.widget-span {
				display: table-cell;
				vertical-align: middle;
				width: auto;
				float: none;
			}
		}

		/* Desktop dropdown menu (left menu) */
		.widget-type-menu.dropdown {

			/* containers */
			.dropdown-children-wrapper {
				position: absolute;
				top: 80px;
				left: 0;
				width: 100%;
				min-height: 460px;
				padding-bottom: 30px;
				overflow: hidden;
				border-bottom: 1px solid #e5e5e5;
				background-color: #f9f9f9;
				visibility: hidden;
				opacity: 0;
				transition: opacity .2s linear, height .3s ease-in-out;

				ul.container {
					position: relative;
					padding-left: 15px;
					padding-right: 15px;
					padding-top: 18px;
					padding-bottom: 18px;
				}
			}

			/* flayouts */
			.hs-item-has-children {

				.hs-menu-children-wrapper {
					height: 100%;
					visibility: hidden;
					opacity: 0;
					transition: all .2s linear;
				}

				&:hover, &.expand {

					& > .dropdown-children-wrapper {
						visibility: visible;
						opacity: 1;
						overflow: auto;

						&::-webkit-scrollbar {
						  display: none;
						}

						& > .hs-menu-children-wrapper {
							visibility: visible;
							opacity: 1;
						}
					}

					& > .hs-menu-children-wrapper {
						visibility: visible;
						opacity: 1;
					}
				}
			}


			/* layout */
			ul {

				> li.hs-menu-item {

					> div {

						> ul {

							> li.hs-menu-item {

								> a {
									color: $secondaryFontColor;
								}
							}
						}
					}
				}

				li.hs-menu-item {

					a {
						position: relative;
						padding-left: 0;

						&:after {
							content: "";
							position: absolute;
							width: 50%;
							bottom: 0px;
							left: 0;
							border-bottom: 2px solid transparent;
							transition: all .2s linear;
						}
					}

					&:hover, &.expand  {

						 & > a {
						 	color: $secondaryFontColor;
						 	font-weight: 500;

						 	&:after {
								border-bottom: 2px solid $accentColor;
							}
						}
					}

					.title {
						display: block;
						font-size: 26px;
						line-height: 1.056em;
						font-weight: 300;
						padding-top: 10px;
						margin-bottom: 15px;
					}


				}

				li.hs-menu-depth-2, li.hs-menu-depth-3, li.hs-menu-depth-4 {

					& > ul {
						position: absolute;
						width: 34%;
					}
				}

				li.hs-menu-depth-1 {

					& > a {

						&:after {
							bottom: 25%;
							width: 100%;
						}
					}
				}


				li.hs-menu-depth-2 {
					width: 34%;

					a {
						font-size: 20px;
					}

					& > ul {
						top: 18px;
						left: 34%;
					}

				}

				li.hs-menu-depth-3 {

					a {
						font-size: 16px;
						color: $primaryFontColor;
						transition: all .2s linear;
						padding: 3px 0;
					}

					& > ul {
						top: 0;
						left: 100%;
						width: 100%;
					}
				}

				li.hs-menu-depth-4 {

				}
			}

			/* .summary-box {
				position: absolute;
				top: 50px;
				right: 0;
				width: 25%;
				opacity: 0;
				visibility: hidden;
				transition: all .3s linear;

				&.show {
					opacity: 1;
					visibility: visible;
				}

				&__title {
					display: block;
					font-size: 20px;
					text-transform: uppercase;
					margin-bottom: 10px;
					margin-top: 0;
				}

				&__image {
					display: block;
					margin-bottom: 10px;
					margin-top: 0;
					width: 100%;
					height: 190px;
					background-repeat: no-repeat;
					background-size: cover;
					backgorund-position: center;
				}

				&__description {
					display: block;

					p {
						font-size: 16px;
						font-weight: normal;
						margin-bottom: 10px;
						margin-top: 0;
					}
				}
			} */

		}
		/* End Desktop dropdown menu */

		/* Right menu */

		.widget-type-menu.right-menu {

			.hs-item-has-children {
				position: relative;
				
				&:hover {

					& > .hs-menu-children-wrapper {
						opacity: 1;
						visibility: visible;
					}

				}

				.hs-menu-children-wrapper {
					position: absolute;
					top: 80px;
					left: -20px;
					background-color: #f9f9f9;
					padding: 0 20px;
					border-bottom: 1px solid #e5e5e5;

					& > .hs-menu-item {

						&:last-child {
							margin-bottom: 10px;
						}

						&:first-child {
							margin-bottom: 0;
						}

					}
				}
			}
		}

	}
	/* End Header desktop */


	/* Header Mobile */
	&__mobile {
		display: none;
		width: 100%;
		height: 80px;

		.widget-type-logo {
			float: left;
		}

		.mobile_nav {
			position: absolute;
			display: none;
			top: 0;
			left: 0;
			width: 100%;
			padding: 120px 15px 50px;
			background-color: #f9f9f9;
			border-bottom: 1px solid #e5e5e5;
			overflow: auto;
			height: 100vh;

			.title {
				display: none !important;
			}

			ul {
				margin: auto;
				list-style: none;
				padding-left: 0;
				padding-right: 0;
				padding-bottom: 20px;


				li {
					margin: 0 40px;
					font-size: 20px;
					line-height: 1.5;
					padding-bottom: 12px;

					a {
						display: inline-block;
						width: 100%;

						&:hover, &:focus {
							font-weight: 500;
							text-decoration: underline;
							color: $secondaryFontColor;
						}
					}
				}

			}

			& > ul {
				position: relative;

				&:last-child {
					a {
						color: $primaryFontColor;
					}

					& > .hs-menu-depth-1 {

						&:last-child {
							margin-top: 30px;
						}
					}
				}
			}

			.hs-menu-item {

				&--active {
					max-width: none;
					margin: auto;

					& > a {
						font-size: 16px;
						font-weight: 300;
						position: absolute;
						top: -92px;
						padding-left: 40px;
						background-color: #f9f9f9;
						width: 100%;
						color: #878787;

						&:hover, &:focus {
							font-weight: 300;
							text-decoration: none;
							color: #878787;
						}

						&:before {
							font-family: FontAwesome;
							content: "\f104";
							left: 0;
							font-size: 30px;
							position: absolute;
							transform: translateY(-50%);
							top: 50%;
							color: $secondaryFontColor;
						}

						&:after {
							content: "";
							position: absolute;
							bottom: -20px;
							left: 0;
							width: 100%;
							border-bottom: 1px solid #e5e5e5;
						}
					}
				}
			}

			.hs-menu-depth-1  {

				.dropdown-children-wrapper {

					& > .open {
						padding-top: 0;
					}
				}

				ul {
					display: none;

					&.open {
						display: block;
						width: 100%;
						height: 100%;
					}
				}


			}

			.hs-menu-depth-3 {
				a {
					color: $primaryFontColor;
				}
			}

			.summary-box {
				display: none !important;
			}
		}




		.burger-wrapper {
			float: right;
			padding: 26px 0;
		}

		#burger-button {
			position: relative;
			float: right;
			line-height: 80px;
			width: 35px;
			height: 28px;
			margin: 0;
			transform: rotate(0deg);
			transition: .5s ease-in-out;
			cursor: pointer;
			transform: scale(.75);
			z-index: 1000;

			span {
				display: block;
				position: absolute;
				height: 4px;
				width: 50%;
				background: $accentColor;
				opacity: 1;
				transform: rotate(0deg);
				transition: .25s ease-in-out;

				&:nth-child(even) {
					left: 50%;

				}

				&:nth-child(odd) {
					left: 0px;

				}

				&:nth-child(1), &:nth-child(2) {
					top: 0px;
				}

				&:nth-child(3), &:nth-child(4) {
					top: 12px;
				}

				&:nth-child(5), &:nth-child(6) {
					top: 24px;
				}
			}

			&.open {

				span {

					&:nth-child(1), &:nth-child(6) {
						transform: rotate(45deg);
					}

					&:nth-child(2), &:nth-child(5) {
						transform: rotate(-45deg);
					}


					&:nth-child(1) {
						left: 3px;
						top: 6px;
					}

					&:nth-child(2) {
						left: calc(50% - 3px);
						top: 6px;
					}

					&:nth-child(3) {
						left: -50%;
						opacity: 0;
					}

					&:nth-child(4) {
						left: 100%;
						opacity: 0;
					}

					&:nth-child(5) {
						left: 3px;
						top: 17px;
					}

					&:nth-child(6) {
						left: calc(50% - 3px);
						top: 17px;
					}

				}
			}
		}


	}
	/* End Header mobile */

}


.touch-device {

	.header {

		&__desktop {
			display: none;
		}

		&__mobile {
			display: block;

			.container {
				max-width: none;
			}
		}
	}
}




@media (max-width: 1024px) {

	.header {

		&__desktop {
			display: none;
		}

		&__mobile {
			display: block;
		}
	}

}


