/* Font face */

/* GothamHTF Light - 300*/

/* GothamHTF Book - normal */

/* GothamHTF Medium - 500 */



/* General Typography */
body {
    font-family: $primaryFont;
    font-size: 16px;
    line-height: 1.5em;
    font-weight: normal;
    color: $primaryFontColor;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 20px 0px;
}

h1, h2, h3, h4, h5, h6 {

    span {
        font-size: inherit;
        font-weight: inherit;
        color: inherit;
    }
}

h2, h3, h4, h5, h6 {
    font-weight: normal;
    color: $secondaryFontColor;
}

p, a, li {

    span {
        font-size: inherit;
        font-weight: inherit;
        color: inherit;
    }
}

h1 {
    font-size: 48px;
    line-height: 1.042em;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;

    span {
        font-weight: inherit;
        font-size: inherit;
        line-height: inherit;
    }

    strong {
        font-size: inherit;
        line-height: inherit;
    }
}

h2 {
    font-size: 36px;
    line-height: 1.056em;
    text-transform: uppercase;
    font-weight: normal;
}

h3 {
    font-size: 26px;
    line-height: 1.23em;
    text-transform: uppercase;
    font-weight: normal;
}

h4 {
    font-size: 20px;
    line-height: 1.3em;
    text-transform: uppercase;
    color: $primaryFontColor;
    font-weight: normal;
}

h5 {
    font-size: 20px;
    line-height: 1.3em;
}

h6 {
    font-size: 20px;
    line-height: 1.3em;
}

a {
    color: $secondaryFontColor;
    text-decoration: none;
    cursor: pointer;
}

li {

    p, span, a {
        font-size: inherit;
    }
}

strong {
    font-weight: 500;
}

hr {
    border-top: solid 1px #e0e0e0;
    border-bottom: none;
}


/* Rich Text Typography */
.widget-type-rich_text, .hs_cos_wrapper_type_rich_text {

    font-size: 16px;
    line-height: 1.5em;
    font-weight: normal;

    &.lead-text {
        font-size: 26px;
        line-height: 1.23em;
        font-weight: normal;
    }

    &.sub-text {
        font-size: 20px;
        line-height: 1.3em;
        font-weight: normal;
    }


    p, li, a, span {
        font-size: inherit;
        line-height: inherit;
        font-weight: inherit;
    }

    a {
        &:hover {
            color: $secondaryFontColor;
            text-decoration: underline;
        }
    }

    ul {
        list-style: none;
        padding-left: 0;

        li {
            position: relative;
            padding-left: 30px;

            &:before {
                position: absolute;
                content: "•";
                color: $secondaryFontColor;
                left: 0;
            }
        }
    }

    ol {
        list-style: none;
        counter-reset: li;
        padding-left: 0;

        li {
            position: relative;
            padding-left: 30px;

            &:before {
                position: absolute;
                counter-increment: li;
                content: counter(li)".";
                color: $secondaryFontColor;
                left: 0;
            }
        }
    }
}



@media (max-width: 767px) {

    body {
        font-size: 16px;
    }

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 22px
    }

    h4 {
        font-size: 20px;
    }

    .widget-type-rich_text, .hs_cos_wrapper_type_rich_text {

        &.lead-text {
            font-size: 20px;
        }

        &.sub-text {
            font-size: 16px;
        }

    }
}
