.about-us {
	.small-banner-breadcrumb {
		margin-top: 20px;
		@media (max-width: 767px) {
			margin: 0;
		}
	}
	.tear-module-wrapper .tear-module {
		top: -180px;
		@media (max-width: 767px) {
			top: 0;
		}
	}
	.section-wrapper {
		max-width: 1800px;
		margin: 0 auto;
		position: relative;
		.image-squirkle-shape {
			position: absolute;
			right: 0;
			margin-top: 275px;
			max-width: 500px;
			@media (max-width: 1320px) {
				display: none;
			}
		}
	}
	.lead-section {
		//margin-top: 40px;
		h2 {
			font-weight: 200;
		}
		.lead-text {
			font-weight: 200;
		}
		strong {
			font-weight: 500;
		}
	}
	.our-story {
		.row-fluid-wrapper.row-depth-1.row-number-14  {
			.span12.widget-span.widget-type-rich_text  {
				font-weight: normal;
			}
		}
		img {
			margin-top: 20px;
			width: 100%!important;
			max-width: 430px;
			height: auto;
			@media (max-width: 767px) {
				display: none;
				//margin: 20px auto 0;
			}
			// @media (max-width: 450px) {
			// 	display: none;
			// }
		}
	}
	section.our-team-wrapper {
		max-width: 1200px;
		margin: 0 auto;
		.our-team-module {
			background-color: #f9f9f9;
			padding: 30px 50px 50px 50px;	
			//margin-bottom: 180px;
			@media (max-width: 767px) {
				margin-bottom: 0;
				padding: 30px 15px;
			}		
			h3 {
				text-transform: uppercase;
			}
			.sub-text {
				max-width: 750px;
				@media (max-width: 450px) {
					font-size: 16px;
				}
			}
			.leadership-team-wrapper, .key-executives-wrapper  {
				.span12.widget-span.widget-type-widget_container {
					.hs_cos_wrapper.hs_cos_wrapper_widget_container {
						display: flex;
						flex-wrap: wrap;
						>.hs_cos_wrapper.hs_cos_wrapper_widget.hs_cos_wrapper_type_custom_widget {
							width: 50%;
						}
						@media (max-width: 767px) {
							flex-direction: column;
							>.hs_cos_wrapper.hs_cos_wrapper_widget.hs_cos_wrapper_type_custom_widget {
								width: 100%;
							}
						}
					}
				}
			}
			.key-executives {
				h3 {
					color: $primaryFontColor;
					text-transform: none;
					margin-top: 50px;
					margin-bottom: 0;
				}
			}
		}
	}
	.csr-module{
		margin-top: 30px;
		margin-bottom: 80px;
		@media (max-width: 767px) {
			margin-top: 0;
			margin-bottom: 0px;
		}
		img {
			margin-top: 20px;
			width: 100%!important;
			max-width: 430px;
			height: auto;
			float: right;
			@media (max-width: 767px) {
				display: none;
			}
		}
	}
}