.benefit-summary{

	h2{
		text-align: center; 
		margin-bottom: 35px;
	}
	hr{
		display: block;
		width: 734px;
		border: none;
		border-top: 1px solid #cccccc;
		margin: 0 auto;
		@media (max-width: 1024px) {
            width: 70%;
        }
	}
	h3{
		text-align: center;
		margin-top: 25px;
		margin-bottom: 25px;
		color:#3c3c3c;
	}
	.hero-banner-wrapp {
        h1{
    
        }
        p{
            border-top: 2px solid #fff;
            margin: 0px 150px;
            padding: 25px 0px;
             @media (max-width: 1140px) {
                margin: 0px 50px;
             }
             @media (max-width: 767px) {
                margin: 0px 20px;
             }
             @media (max-width: 480px) {
                margin: 0px;
             }
        }
		
	}
    .benefit-lead-section{
        margin-bottom: 70px;
        h2{
             @media (max-width: 1024px) {
                padding-top: 60px;
             }
             @media (max-width: 767px) {
                padding-top: 0px;
             }
        }
        .widget-type-rich_text{
            
                 text-align: center;
           
        }
    }
	.text-section{
        padding: 84px 0px 104px 0px;
        max-width: 1200px;
        margin: 0 auto;
        @media (max-width: 767px) {
            padding: 35px 0px 35px 0px;
        }
        .widget-type-rich_text{
            ul{
                list-style: none;
                margin-top: 46px;
                li{
                    padding-left: 77px;
                    margin-bottom: 40px;
                    min-height: 48px;
                    display: flex;
                    align-items: flex-start;
                    font-size: 20px;
                    &:before{
                        content: "";
                        background-image: url('http://learn.cpaglobal.com/hubfs/CPA%20Global%20ClickRay/assets/icon/arrow-inside-bullet-hr_06.png');
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: 13px 11px;
                        height: 48px;
                        width: 48px;
                        background-color: #fff;
                        color: #c00000;
                        font-size: 20px;
                        border: 1px solid #e0e0e0;
                        border-top-left-radius: 50%;
                        border-bottom-left-radius: 50%;
                        border-bottom-right-radius: 50%;
                        z-index: 99;
                        transition: 0.3s linear;

                    }
                }
            }
        }
    }
    .container-big{
    	max-width: 1200px;
    	margin: 0 auto;
    }
    .ideas-section{
    	background-color: #f9f9f9;
        padding: 80px 72px;
    	background-image: url('https://learn.cpaglobal.com/hubfs/CPA%20Global%20ClickRay/assets/image/Benefit%20Summary/img_14.jpg');
    	background-size: cover;
    	background-position: top;
        @media (max-width: 480px) {
            padding: 30px 15px;
        }
        h2{
            @media (max-width: 480px) {
                padding: 0px;
                margin: 0;
             }
        }
        hr{
            @media (max-width: 480px) {
                padding: 0px;
                margin: 0 auto;
             }
        }
        h3{
            @media (max-width: 480px) {
                padding: 0px;
                margin: 0;
             }
        }
    	.feed-box{
    		margin-top:70px;
            @media (max-width: 480px) {
                margin-top: 30px;
            }
    	}

    }
    .cta-box{
        padding-bottom: 150px;
        text-align: center;
    }

@media (max-width: 991px){
    .feed-box-section .span12 > .row-depth-1 > .row-fluid > .widget-span {
        width: 100%;
        margin-bottom: 0px;
    }
}
@media (max-width: 480px){
    .feed-box-section .span12 > .row-depth-1 > .row-fluid > .widget-span {
        width: 100%;
        margin-bottom: 20px;
    }
}
}














