.careers {
	.small-banner-breadcrumb {
		margin-top: 20px;
		@media (max-width: 767px) {
			margin: 0;
		}
	}
	.section-wrapper {
		.lead-section {
			margin-top: 10px;
			margin-bottom: 0;
			@media (max-width: 767px) {
				margin: 20px 0;
				h2 {
					margin-top: 0;
				}
			}
		}
	}
	.text-modules {
		margin: 0 auto;
		max-width: 1200px;
		.text-modules-wrapper {
			padding: 50px 70px 80px 70px;
			background-color: #f9f9f9;
			@media (max-width: 992px) {
				padding: 50px 20px 80px 20px;
			}
			@media (max-width: 767px) {
				padding: 15px 15px 20px;
				h3 {
					margin-top: 20px;
					margin-bottom: 0;
				}
			}
			.span12.widget-span.widget-type-rich_text  {
				max-width: 550px;
			}
		}
	}
	.testimonial-wrapper {
		.widget-type-header {
			h3 {
				max-width: 550px;
			}
		}
	}
	.benefit-wrapper .benefit-outer .benefit-list .hs_cos_wrapper.hs_cos_wrapper_widget_container > div  {
		// h4 {
		// 	margin-bottom: 0;
		// }
		p {
			margin-top: 20px;
			&::before {
				content: none;
			}
		}
	}
	section.video-modules-wrapper {
		h2 {
			text-align: center;
			font-weight: 300;
			margin: 30px 0 40px;
			@media (max-width: 767px) {
				text-align: left;
				margin: 50px 0 20px;
			}
		}
		.left-video, .right-video {
			margin-top: 90px;
			@media (max-width: 767px) {
				display: flex;
				flex-direction: column;
				margin-top: 0;
				> .row-fluid-wrapper.row-depth-1:first-of-type {
					order: 2;
				}
			}
			h3 {
				margin-top: 25px;
				margin-bottom: 5px;
				color: $primaryFontColor;
				@media (max-width: 767px) {
					margin-top: 30px;
				}
			}
			p {
				margin: 0;
				font-weight: 500;
				@media (max-width: 767px) {
					margin: 0 0 15px;
				}
			}
		}
		.row-fluid-wrapper.row-depth-1.row-number-24 {
			padding-bottom: 190px;
			@media (max-width: 767px) {
				padding-bottom: 100px;
			}
		}
	}
	.benefit-wrapper {
		.benefit-outer {
			@media (max-width: 767px) {
				padding: 0 15px 50px;
			}
		}
	}
}