.customer_success_listing {
    .tear-wrapper {
        position: relative;
        margin: 20px 0 55px;
        h2 {
            @media(min-width: 768px) {
                width: calc(100% - 230px);
            }
        }
    }
    .tear-module-wrapper {
        @media (max-width: 767px) {
            min-height: 255px;
        }
        .tear-module {
            top: -100px;
            @media (max-width: 767px) {
                top: -5px;
            }
        }
    }
    .cpa-btn--primary	{
    	padding: 15px 60px;
    }
    .lead-text {
        .layout-widget-wrapper {
            p {
                padding-right: 0;
                @media (min-width: 768px) {
                    padding-right: 10%;
                }
                @media (min-width: 992px) {
                    padding-right: 35%;
                }
            }
        }
    }
    .search-dropdown-wrapper {
    	margin: 0 -10px;
        .search-dropdown:first-child {
            @media (max-width: 767px) {
                margin-top: 15px;
            }
        }
        .search-dropdown:last-child {
            @media (max-width: 767px) {
                margin-bottom: 15px;
            }
        }
        .search-dropdown {
        	margin: 50px 0;
            width: 33.33%;
            padding: 0 10px;
            position: relative;
            @media (min-width: 768px) {
                float: left;
            }
            @media (max-width: 767px) {
                width: 100%;
                margin: 0 0 20px 0;
            }
            // &:after {
            //     content: "\f107";
            //     font-family: "FontAwesome";
            //     position: absolute;
            //     font-size: 32px;
            //     color: $accentColor;
            //     top: 13px;
            //     right: 25px;
            //     pointer-events: none;
            // }
            select {
            	outline: 0;
            	text-transform: uppercase;
            	padding-left: 20px;
            	font-size: 16px;
            	color: #c00000;
                height: 50px;
                background-color: #fff;
                border-radius: 0;
                border: 1px solid $accentColor;
                appearance: none;
                &::-ms-expand {
                    display: none;
                }
            }
        }
    }
    #listing {
        display: flex;
        flex-wrap: wrap;
        margin: 40px -10px 0;
        .single-post {
            width: 33.33%;
            padding: 0 10px;
            margin-bottom: 40px;
            position: relative;
            padding-bottom: 50px;
            & h5 {
                margin-bottom: 22px;
                font-weight: 600;
                font-size: 16px;
                color: #000;
            }
            a.cpa-btn {
                position: absolute;
                bottom: 0;
            }
            @media (max-width: 991px) {
                width: 50%;
            }
            @media (max-width: 767px) {
                width: 100%;
            }
        }
    }
    .view-more {
        margin: 80px 0 130px 0;
        button {
            margin: 0 auto;
            display: block;
        }
    }

    .cpa-dropdown {
        user-select: none;
        ::-webkit-scrollbar {
            width: 12px;
        }
        ::-webkit-scrollbar-track {
            margin: 0 20px;
            background-color: #d8d8d8;
        }
        ::-webkit-scrollbar-thumb {
            background-color: #adadad;
        }
        ::-webkit-scrollbar-thumb:hover {
            background-color: #a1a1a1;
        }
        .form-hidden {
            display: none;
        }
        .cpa-dropdown-header {
            border: 1px solid #c00000;
            background: white;
            color: #c61a1a;
            padding: 0 20px;
            height: 50px;
            cursor: pointer;
            position: relative;
            span {
                line-height: 50px;
                text-transform: uppercase;
            }
            img {
                position: absolute;
                top: 21px;
                right: 20px;
                width: 14px;
            }
        }
        .cpa-dropdown-header.slide-down {
            background: #c00000;
            color: #fff;
        }
        .cpa-dropdown-list {
            list-style: none;
            padding: 20px;
            margin: 0;
            border: 1px solid #c00000;
            border-top: none;
            max-height: 300px;
            overflow-y: scroll;
            li {
                font-size: 16px;
                line-height: 20px;
                padding: 10px 0;
                cursor: pointer;
                color: #c30c0c;
                float: left;
                clear: left;
                font-weight: 300;
            }
            li:hover {
                font-weight: normal;
                background: -moz-linear-gradient(top,  #fff 0%, #fff 81%, #c30c0c 81.1%, #c30c0c 85%, #fff 85.1%, #fff 100%); /* FF3.6+ */
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(81%,#fff), color-stop(81.1%,#c30c0c), color-stop(85%,#c30c0c), color-stop(85.1%,#fff), color-stop(100%,#fff)); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(top,  #fff 0%,#fff 81%,#c30c0c 81.1%,#c30c0c 85%,#fff 85.1%,#fff 100%); /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(top,  #fff 0%,#fff 81%,#c30c0c 81.1%,#c30c0c 85%,#fff 85.1%,#fff 100%); /* Opera 11.10+ */
                background: -ms-linear-gradient(top,  #fff 0%,#fff 81%,#c30c0c 81.1%,#c30c0c 85%,#fff 85.1%,#fff 100%); /* IE10+ */
                background: linear-gradient(to bottom,  #fff 0%,#fff 81%,#c30c0c 81.1%,#c30c0c 85%,#fff 85.1%,#fff 100%); /* W3C */
            }
        }
    }
}