.home {

	.body-container {
		margin-bottom: 100px;
	}

	.lead-section {

		.container {

			& .widget-span {
				max-width: 790px;
			}
		}

		h2 {
			font-weight: 300;
		}
	}

	.cta-box-section {
		margin-top: 30px;
		margin-bottom: 30px;
	}


	.cta-bar {
		max-width: 1200px;
		padding-left: 70px;
		padding-right: 70px;
		margin: 30px auto;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;


		.row-fluid {
			min-height: 165px;
			padding-top: 30px;
			padding-bottom: 30px;
			display: flex;
			align-items: center;
		}

		.widget-type-text {
			font-size: 26px;
			line-height: 1.23em;
			color: #fff;
		}

		.widget-type-cta {
			text-align: right;
		}
	}



	.success-story {
		position: relative;
		width: 100%;
		float: left;
		margin: 30px 0 10px;

		.row-fluid {
			display: flex;
		}

		&__box {
			position: relative;
			margin-bottom: 20px;
			padding-bottom: 60px;

			.row-fluid-wrapper {

				&:last-child {
					position: absolute;
					bottom: 0;
					left: 0;
				}
			}

			.widget-type-header {

				h4 {
					margin: 0;
				}
			}
		}
	}



	.our-clients {
		position: relative;
		width: 100%;
		float: left;
		text-align: center;
		margin: 30px 0;

		.container {
			max-width: 1200px;
			padding: 50px 200px 100px;
			background-color: #f9f9f9;
		}

		.widget-type-header {

			h3 {
				margin-bottom: 10px;
			}
		}

		.widget-type-rich_text {
			margin-bottom: 20px;
		}

		.widget-type-widget_container {

			& > .hs_cos_wrapper_type_widget_container {
				display: flex;
				flex-wrap: wrap;

				& > .hs_cos_wrapper_widget {
					width: 25%;
					margin: 10px 0;

					img {
						max-width: 100%;
						opacity: 0.6;
						transition: all .2s linear;
					}

					a:hover {
						img {
							opacity: 1;
						}
					}
				}
			}
		}

	}


	.video-module-wrapper {
		position: relative;
		width: 100%;
	}

	.feed-box-section {
		margin-top: 30px;
		margin-bottom: 30px;
	}



	.hero-event-section {
		position: relative;
		width: 100%;
		float: left;
		margin-top: 20px;
		margin-bottom: 20px;
	}

}



@media (max-width: 1200px) {
	.home {

		.our-clients {

			.container {
				padding: 50px 100px 100px;
			}
		}
	}
}



@media (max-width: 991px) {

}



@media (max-width: 767px) {

	.home {

		.cta-bar {
			padding-top: 30px;
			padding-bottom: 30px;
			padding-left: 15px;
			padding-right: 15px;

			.row-fluid {
				display: block;
			}

			.widget-type-text {
				text-align: center;

			}

			.widget-type-cta {
				text-align: center;
				margin-top: 20px;
			}
		}
	


		.success-story {

			.row-fluid {
				display: block;
			}

			&__box {
				max-width: 400px;
				margin-left: auto !important;
				margin-right: auto;
				margin-bottom: 50px;
				padding-bottom: 0;

				.row-fluid-wrapper {

					&:last-child {
						position: relative;
					}
				}

				.cta_button {
					width: 100%;
					box-sizing: border-box !important;
				}
			}
		}



		.our-clients {

			.container {
				padding: 50px 15px 100px;
			}

			.widget-type-widget_container {

				& > .hs_cos_wrapper_type_widget_container {

					& > .hs_cos_wrapper_widget {
						width: 33%;
					}
				}
			}

		}

	}



}


@media (max-width: 580px) {

	.home {

		.our-clients {


			.widget-type-widget_container {

				& > .hs_cos_wrapper_type_widget_container {

					& > .hs_cos_wrapper_widget {
						width: 50%;
					}
				}
			}

		}



	}



}



