.ip-gurus {
	.industry-experts {
		img {
			margin-top: 100px;
			width: 100%!important;
			max-width: 430px;
			height: auto;
			float: right;
			@media (max-width: 767px) {
				display: none;
			}
		}
	}
	.guru-members-module {
		padding-bottom: 200px;
	}
	h2 {
		font-weight: 300;
	}
}