body.persona.patent-renew {
    .body-container-wrapper {
        padding-bottom: 135px;
        @media (max-width: 767px) {
            padding-bottom: 100px;
        }
    }
}

.patent-renew {
    .lead-section {
        margin-bottom: 90px;
    }
    .persona-news-bg {
        padding: 70px 0 10px;
        .widget-type-header {
            h3 {
                margin-bottom: 50px;
                @media (max-width: 767px) {
                    margin-top: 0;
                    margin-bottom: 30px;
                }
            }
        }
    }
    .lead-section {
        @media (max-width: 767px) {
            margin-top: 20px;
            margin-bottom: 75px;
        }
    }
    @media (max-width: 485px) {
        .testimonial-wrapper .grey-bg {
            // padding: 35px 40px 50px 15px;
        }
        .testimonial-wrapper .widget-type-header h3 {
            margin-bottom: 40px;
        }
    }
}
