body.persona {
    .body-container-wrapper {
        padding-bottom: 170px;
        @media (max-width: 767px) {
            padding-bottom: 100px;
        }
    }
    .small-banner-breadcrumb {
        max-width: 1200px;
        margin: 0 auto;
        font-weight: 300;
        margin-top: 10px;
        @media (max-width: 1060px) {
            padding: 0 60px;
        }
        @media (max-width: 767px) {
            padding: 0;
        }
        .hs-breadcrumb-menu-item {
        }
    }
    .lead-section {
        @media (max-width: 1060px) {
            padding: 0 60px;
        }
        @media (max-width: 767px) {
            padding: 0;
        }

        .widget-type-header {
            h2 {
                font-weight: 300;
                margin: 0;
                margin-bottom: 40px;
                margin-top: 10px;
                @media (max-width: 767px) {
                    margin-bottom: 25px;
                    margin-top: 0px;
                    font-size: 30px;
                    line-height: 32px;
                }
            }
        }
        .layout-widget-wrapper {
            .hs_cos_wrapper_type_rich_text {
                font-weight: normal;
                @media (max-width: 767px) {
                    font-size: 19px;
                    line-height: 25px;
                    font-weight: normal;
                }
            }
        }
        .widget-span {
            .widget-type-rich_text.sub-text {
                .hs_cos_wrapper_type_rich_text {
                    p {
                        font-weight: 100;
                        margin: 40px 0 0;
                        padding-right: 30px;
                        @media (max-width: 767px) {
                            margin: 30px 0 20px;
                            font-size: 15px;
                            line-height: 21px;
                            font-weight: normal;
                        }
                    }
                }
            }
        }
    }
    .our-thinking-wrapper {
        max-width: 1200px;
        margin: 0 auto;
        .our-thinking-bg {
            padding-top: 75px;
            @media (max-width: 767px) {
                padding-top: 60px;
            }
            .hs_cos_wrapper_widget.hs_cos_wrapper_type_header {
                h3 {
                    padding: 0;
                    margin: 0;
                    margin-bottom: 30px;
                    margin-left: 70px;
                    @media (max-width: 767px) {
                        margin-left: 15px;

                    }
                }
            }
        }
    }
    .persona-news-wrapper {
        .persona-news-bg {
            .widget-type-rich_text {
                text-align: center;
                .layout-widget-wrapper {
                    .hs_cos_wrapper_type_rich_text {
                        .hs-cta-wrapper {
                            .cta_button {
                                margin-top: 85px;
                                @media (max-width: 767px) {
                                    margin-top: 25px;
                                    float: left;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
body.persona.persona-law {
    .our-thinking-wrapper .our-thinking-bg {
        padding-top: 80px;
        @media (max-width: 767px) {
            padding-top: 40px;
            margin-bottom: 40px;
        }
    }
}
.persona-rd .persona-news-wrapper .persona-news-bg .hs_cos_wrapper_widget_container.hs_cos_wrapper_type_widget_container .hs_cos_wrapper_widget.hs_cos_wrapper_type_custom_widget .persona-news-single {
    padding-bottom: 50px;
    @media (max-width: 767px) {
        padding-bottom: 70px;
    }
}

