.foundation-ip {
	.small-banner-breadcrumb {
		margin-top: 20px;
		@media (max-width: 767px) {
			margin: 0;
		}
	}
	.tear-module-wrapper .tear-module {
		top: -180px;
		@media (max-width: 767px) {
			top: 0;
		}
	}
	.lead-section {
		h2 {
			max-width: 650px;
			font-weight: lighter;
		}
		.lead-text {
			max-width: 740px;
		}
		.sub-text {
			max-width: 640px;
		}
		@media (max-width: 767px) {
			margin-top: 0;
		}
	}
	.text-modules {
		margin: 0 auto;
		max-width: 1200px;
		.text-modules-wrapper {
			padding: 50px 70px 80px 70px;
			background-color: #f9f9f9;
			@media (max-width: 992px) {
				padding: 50px 20px 80px 20px;
			}
			@media (max-width: 767px) {
				padding: 15px 0 80px;
			}
			.widget-type-header {
				h3 {
					margin: 0 15px;
					max-width: 450px;
				}
			}
		}
	}
	.testimonial-wrapper {
		margin-top: 40px;
		@media (max-width: 767px) {
			margin-top: 10px;
		}
		.grey-bg {
			background-color: #fff;
			.testimonial-image-right {
				img {
					background-color: #fff;
				}
			}
		}
	}
	.video-section {
		max-width: 1200px;
		margin: 0 auto;
		.gray-bg {
			background-color: #f9f9f9;
			padding: 70px 70px 60px 70px;
			@media (max-width: 767px) {
				padding: 15px;
			}
		}
	}
	.feed-box-wrapper {
		margin-top: 70px;
		@media (max-width: 767px) {
			margin-top: 30px;
		}
		.feed-box-section {
			margin-top: 50px;
			padding-bottom: 190px;
			@media (max-width: 767px) {
				margin-top: 20px;
				padding-bottom: 70px;
			}
		}
	}
}