.product-category-renew{
	.body-container-wrapper {
        padding-bottom: 170px;
        @media (max-width: 767px) {
            padding-bottom: 140px;
        }
    }
    .small-banner-breadcrumb {
        max-width: 1200px;
        margin: 0 auto;
        font-weight: 300;
        margin-top: 10px;
        @media (max-width: 1060px) {
            padding: 0 60px;
        }
        @media (max-width: 767px) {
            padding: 0;
        }
        .hs-breadcrumb-menu-item {
        }
    }
    .lead-section {
        @media (max-width: 1060px) {
            padding: 0 60px;
        }
        @media (max-width: 767px) {
            padding: 0;
        }

        .widget-type-header {
            h2 {
                font-weight: 300;
                margin: 0;
                margin-bottom: 40px;
                margin-top: 10px;
                @media (max-width: 767px) {
                    margin-bottom: 25px;
                    margin-top: 0px;
                    font-size: 30px;
                    line-height: 32px;
                }
            }
        }
        .layout-widget-wrapper {
            .hs_cos_wrapper_type_rich_text {
                font-weight: normal;
                @media (max-width: 767px) {
                    font-size: 19px;
                    line-height: 25px;
                }
            }
        }
        .widget-span {
            .widget-type-rich_text.sub-text {
                .hs_cos_wrapper_type_rich_text {
                    p {
                        font-weight: 300;
                        margin: 40px 0 20px;
                        padding-right: 30px;
                        @media (max-width: 767px) {
                            margin: 30px 0 20px;
                            font-size: 15px;
                            line-height: 21px;
                            font-weight: normal;
                        }
                    }
                }
            }
        }
        .tear-module-wrapper{
            top: 40px;
            span{
                width: 100%;
            }
        }
    }


    .confidence-section >div{
        padding: 84px 0px 104px 0px;
        border-top: 1px solid #e0e0e0;
        max-width: 1200px;
        margin: 0 auto;
        @media (max-width: 767px) {
            padding: 35px 0px 35px 0px;
        }
        .left-section{

            img{
                display: block;
                margin: 0 auto;
                @media (max-width: 767px) {
                    display: none;
                }

            }
        }
        .right-section{

            .widget-type-header{
                h3{
                    margin:0px;
                }
            }
            .widget-type-rich_text{
               ul{
                    list-style: none;
                    margin-top: 46px;
                    li{
                        padding-left: 77px;
                        margin-bottom: 26px;
                        min-height: 48px;
                        display: flex;
                        align-items: flex-start;
                        font-size: 20px;
                        &:before{
                            content: "";
                            background-image: url('http://learn.cpaglobal.com/hubfs/CPA%20Global%20ClickRay/assets/icon/arrow-inside-bullet-hr_06.png');
                            background-repeat: no-repeat;
                            background-position: center center;
                            background-size: 13px 11px;
                            height: 48px;
                            width: 48px;
                            background-color: #fff;
                            color: #c00000;
                            font-size: 20px;
                            border: 1px solid #e0e0e0;
                            border-top-left-radius: 50%;
                            border-bottom-left-radius: 50%;
                            border-bottom-right-radius: 50%;
                            z-index: 99;
                            transition: 0.3s linear;
                        }
                    }
               }
           }
        }

    }

    .renewal-needs>div{
        padding: 66px 0px 101px 0px;
        background-color: #f9f9f9;
        max-width: 1200px;
        margin: 0px auto 92px auto;
        @media (max-width: 767px) {
                padding: 32px 0px 20px 0px;
                margin: 0px auto 0px auto;
            }
        h2{
            margin-bottom: 35px;
            margin-top:0px;
            @media (max-width: 767px) {
                margin-bottom: 10px;
            }
        }
    }

    .solutions-wrapper{
        .solutions-bg{
             @media (max-width: 767px) {
                padding:50px 0px 0px 0px;
                margin: 0px 15px;
            }
            .solutions-single{
                @media (max-width: 649px) {
                    margin: 0px auto 50px auto;
                    padding-bottom: 0px!important;
                }
                 .solutions-single-img{
                    width: 100%;
                    max-width: 100%!important;
                    height: 188px!important;
                    margin: 0 auto;
                }
                p{
                    padding-right: 0px;
                    padding-bottom: 10px;
                    font-weight: normal;
                }
                span{
                    @media (max-width: 649px) {
                        display: flex;
                        justify-content: flex-start;
                        position: static!important;
                        left: 0px!important;
                        right: 0px!important;
                        bottom: 0!important;
                        margin-top: 10px!important;
                    }
                    a{
                        width: 100%!important;
                        margin: 0 auto!important;
                    }
                }
            }
        }
    }

    .our-thinking-wrapper {
        max-width: 1200px;
        margin: 0 auto;
        .our-thinking-bg {
            padding-top: 100px;
            @media (max-width: 767px) {
                padding-top: 0px;
            }
            h3 {
                padding: 0;
                margin: 0;
                margin-bottom: 30px;
                margin-left: 70px;
                @media (max-width: 767px) {
                    margin-left: 15px;
                    margin-top: 44px;
                    margin-bottom: 19px;
                }
            }
            .our-latest-thinking-image-bg{
                @media (max-width: 767px) {
                    height: 227px!important;
                }
                .our-latest-thinking-inner-text{
                    p{
                         @media (max-width: 767px) {
                            font-size: 19px;
                            margin-bottom: 25px;
                        }
                    }
                }
            }
        }
    }
    .persona-news-wrapper {
        .persona-news-bg {
            .widget-type-rich_text {
                text-align: center;
                .layout-widget-wrapper {
                    .hs_cos_wrapper_type_rich_text {
                        .hs-cta-wrapper {
                            .cta_button {
                                margin-top: 85px;
                                @media (max-width: 767px) {
                                    margin-top: 25px;
                                    float: left;
                                }
                            }
                        }
                    }
                }
            }
            .persona-news-single{
                .news-data{
                        margin-bottom: 20px!important;
                }
            }
        }
    }
    .slick-list{
       margin-left: 15px;
       @media (max-width: 767px) {
            margin-left: 3px;
        }
        @media (max-width: 649px) {
            margin-left: 3px;
        }
    }
}
