body.persona.renew-app {
    .body-container-wrapper {
        padding-bottom: 135px;
        @media (max-width: 992px) {
            padding-bottom: 130px;
        }
    }
    .lead-section .widget-type-header h2 {
        @media (max-width: 992px) {
            margin-bottom: 10px;
        }
    }
    .layout-widget-wrapper .hs_cos_wrapper_type_rich_text p:first-child {
        margin-top: 0;
    }
}

.renew-app {
    .lead-section {
        @media (max-width: 992px) {
            margin-top: 20px;
        }
    }
    .renew-wrapper {
        border-top: 1px solid #e0e0e0;
        max-width: 1200px;
        margin: 0 auto;

        .renew-bg {
            padding: 80px 70px 35px;
            // margin-bottom: 40px;
            @media (max-width: 767px) {
                padding: 50px 15px;
            }
            > div {
                float: left;
                width: 50%;
                @media (max-width: 992px) {
                    width: 100%;
                }
            }
            .renew-enables-text {
                .widget-type-header {
                    h3 {
                        margin: 0;
                        margin-bottom: 60px;
                         @media (max-width: 992px) {
                            margin-top: 0px;
                            margin-bottom: 30px;
                        }
                    }
                }
                .widget-type-rich_text {
                    p {
                        position: relative;
                        margin: 0;
                        padding: 0;
                        margin-left: 75px;
                        margin-right: 40px;
                        margin-bottom: 60px;
                        @media (max-width: 992px) {
                            margin-bottom: 20px;
                        }
                        font-weight: normal;
                        font-size: 20px;
                        line-height: 26px;
                    }
                    p::before {
                        content: '';
                        background: url('//cdn2.hubspot.net/hubfs/1576677/CPA%20Global%20ClickRay/assets/icon/arrow-inside-bullet_03.png');
                        background-repeat: no-repeat;
                        background-position: center;
                        width: 48px;
                        height: 48px;
                        border: 1px solid #e0e0e0;
                        position: absolute;
                        top: 5px;
                        left: -75px;
                        color: #c00000;
                        border-top-right-radius: 50px;
                        border-bottom-left-radius: 50px;
                        border-bottom-right-radius: 50px;
                    }
                    p:last-child {
                        @media (max-width: 992px) {
                            margin-bottom: 60px;
                        }
                    }
                }
            }
            .widget-type-linked_image {
                margin-left: 0;
                @media (min-width: 1200px) {
                    margin-left: 100px;
                }
                @media (max-width: 992px) {
                    display: none;
                    text-align: center;
                    margin: 0;
                    margin-bottom: 50px;
                }
                .layout-widget-wrapper {
                    .hs_cos_wrapper_type_linked_image {
                        img {
                            padding: 0 0 30px;
                            @media (max-width: 992px) {
                                width: 60% !important;
                                padding: 20px 0 0;
                            }
                        }
                    }
                }
            }
        }
    }
    .list-things {
        max-width: 1200px;
        margin: 0 auto;

        .widget-type-cell {
            padding: 0 70px;
            @media (max-width: 767px) {
                padding: 40px 15px 40px;
            }
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            > div {
                width: 32%;
                padding: 70px 0 80px;
                @media (max-width: 992px) {
                    padding: 30px 0 40px;
                }
                @media (max-width: 550px) {
                    width: 100%;
                    padding: 10px 0;
                }
                h5 {
                    margin: 0;
                    margin-bottom: 25px;
                    @media (max-width: 550px) {
                        margin-bottom: 10px;
                    }
                }
                p {
                    margin: 0;
                    font-size: 16px;
                    line-height: 24px;
                    color: #3c3c3c;
                    font-weight: normal;
                }
            }
        }
        .grey-bg {
            background: #f9f9f9;
        }
        .white-bg {
            border-bottom: 1px solid #e0e0e0;
            h5 {
                color: #3c3c3c;
            }
        }
    }
    .solutions-wrapper {
        .solutions-bg {
            padding-top: 65px;
            padding-bottom: 0;
            border: none;
            @media (max-width: 992px) {
                padding-top: 45px;
            }
        }
    }
}
