.ip-platform {

    .ip-platform-feed-box-module {
        width: 100%;
    }

    a.btn-connected-apps {
        display: inline-block;
        z-index:5;
        position: relative;
        background: transparent;
        color: #fff;
        transition: all 1s linear;
        text-align: center;
        cursor: pointer;
        height: 155px;
        width: 340px;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        background: transparent;
        margin: 10px;
        font-size: 26px;
        line-height: 155px;
        font-weight: normal;

        background: url("https://learn.cpaglobal.com/hubfs/CPA%20Global%20ClickRay/assets/image/Landing%20Page/btn-apps-1.png");
        transition: all 1s linear;
        .icon-arrow-right {
            background: url("https://learn.cpaglobal.com/hubfs/CPA%20Global%20ClickRay/assets/icon/arrow-right-white%20.png");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 20px;
            padding-left: 25px;
        }
    }

    a.btn-connected-apps:before {
        content: "";
        width: 100%;
        height: 100%;
        z-index: -3;
        position: absolute;

        left: 0;
        top: 0;
        color: #fff;
        // transition: all 1s linear;
    }

    a.btn-connected-apps-1:before {
        background: url("https://learn.cpaglobal.com/hubfs/CPA%20Global%20ClickRay/assets/image/Landing%20Page/btn-apps-1.png");
    }

    a.btn-connected-apps-2:before {
        background: url("https://learn.cpaglobal.com/hubfs/CPA%20Global%20ClickRay/assets/image/Landing%20Page/btn-apps-2.png");
    }

    a.btn-connected-apps:after {
        content: "";
        width: 100%;
        height: 100%;
        z-index: -1;
        position: absolute;
        left: 0;
        top: 0;
        transition: all 0.2s linear;
        background: transparent;
    }
    a.btn-connected-apps:hover:after {
        background: red;
    }

    .body-container-wrapper {
        .lead-section {
            text-align: center;
            margin-top: 50px;
            margin-bottom: 35px;
            @media (max-width: 992px) {
                margin-top: 20px;
                margin-bottom: 80px;
            }
            .container {
                max-width: 1200px;
                padding: 0 20px;
            }
            .widget-type-header {
                h2 {
                    font-size: 36px;
                    line-height: 38px;
                    font-weight: normal;
                    margin: 0;
                    margin-bottom: 30px;
                    @media (max-width: 992px) {
                        margin-bottom: 30px;
                        font-size: 30px;
                        line-height: 32px;
                    }
                }
            }
            .header-desc {
                margin-bottom: 30px;
                @media (max-width: 992px) {
                    margin-bottom: 20px;
                }
                p {
                    margin: 0;
                    font-size: 26px;
                    line-height: 32px;
                    @media (max-width: 992px) {
                        font-size: 19px;
                        line-height: 25px;
                    }
                }
                &.header-desc-1 {
                    font-weight: normal;
                    padding: 0 20px;
                    color: #3c3c3c;
                    p {
                        font-weight: 300;
                    }
                    @media (max-width: 992px) {
                        padding: 0;
                        font-size: 19px;
                        line-height: 25px;
                    }
                }
                &.header-desc-2 {
                    font-weight: normal;
                    @media (max-width: 992px) {
                        margin-bottom: 70px;
                    }
                }
            }
        }
        .video-section {
            position: relative;
            .container {
                > .widget-span {
                    float: none;
                }
            }
            .ip-platform-bg {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 300px;
                background: url("https://learn.cpaglobal.com/hubfs/CPA%20Global%20ClickRay/assets/image/Landing%20Page/ip-platform-bg-2.png");
                background-repeat: no-repeat;
                background-size: 100% 100%;
                background-position: center center;
                // background: red;
                // height: 800px;
            }
            .container {
                max-width: 1200px;
                @media (max-width: 992px) {
                    padding: 0;
                }
                .video-section-1 {
                    text-align: center;
                    padding: 60px 80px 65px;
                    background-size: cover !important;
                    background-position: center center fixed !important;
                    background-repeat: no-repeat !important;
                    @media (max-width: 992px) {
                        padding: 30px 15px 40px;
                    }
                    h2 {
                        font-size: 36px;
                        line-height: 42px;
                        margin: 0;
                        margin-bottom: 55px;
                        font-weight: 300;
                        @media (max-width: 992px) {
                            font-size: 30px;
                            line-height: 34px;
                            margin-bottom: 20px;
                        }
                    }
                }
                .video-section-2 {
                    text-align: center;
                    padding: 75px 80px 50px;
                    position: relative;
                    @media (max-width: 992px) {
                        padding: 35px 15px 40px;
                    }
                    h3 {
                        color: #3c3c3c;
                    }
                    h5 {
                        margin: 0;
                        font-size: 20px;
                        line-height: 26px;
                        color: #3c3c3c;
                        margin: 35px 0 20px;
                        @media (max-width: 992px) {
                            margin: 35px 0 15px;
                        }
                    }
                }
            }
        }
        .section-header-line {
            h2 {
                margin: 0 0 20px;
                font-size: 36px;
                line-height: 42px;
                font-weight: 300;
                @media (max-width: 992px) {
                    font-size: 30px;
                    line-height: 34px;
                    margin: 0 0 20px;
                }
            }
            hr {
                border-top: solid 1px #cccccc;
                max-width: 700px;
            }
            h3 {
                color: #3c3c3c;
                font-size: 26px;
                line-height: 32px;
                margin: 25px 0 50px;
                font-weight: normal;
                @media (max-width: 992px) {
                    font-size: 19px;
                    line-height: 25px;
                    margin: 20px 0 35px;
                    padding: 0 30px;
                }
            }
        }
        .hero-banner {
            hr {
                border-top: solid 1px #fff;
            }
            h3 {
                text-align: center;
                color: #fff;
            }
        }
        .section-idea-lifecycle {
            text-align: center;
            background: url("//cdn2.hubspot.net/hubfs/1576677/CPA%20Global%20ClickRay/assets/image/Landing%20Page/idea-bg-1.jpg") #799fc6;
            background-repeat: no-repeat;
            background-size: 100% 500px;
            // background-color: ;
            // background-size: cover;
            background-position: center top;
            position: relative;
            max-width: 1200px;
            margin: 0 auto;
            @media (min-width: 1110px) {
                // min-height: 530px;
            }
            @media (max-width: 1109px) {
                background-size: auto 100%;
                // min-height: 520px;
                padding-bottom: 15px;
            }
            h2 {
                font-size: 36px;
                line-height: 42px;
                color: #fff;
                margin: 55px 0 75px;
                font-weight: 300;
                @media (max-width: 992px) {

                }
                @media (max-width: 1109px) {
                    margin: 35px 0 45px;
                    font-size: 30px;
                    line-height: 34px;
                }
            }
            > .container {
                > .widget-type-cell {
                    float: none;
                }
            }
            .tabs-contents {
                text-align: left;
                padding: 0 0 35px 0;
                font-weight: 300;
                p {

                }
            }
        }
        .section-ip-one-data {
            text-align: center;
            margin-top: 50px;
            @media (max-width: 992px) {
                margin-bottom: 15px;
            }
            h3 {
                margin-bottom: 35px;
            }
            @media (max-width: 992px) {
                margin-top: 40px;
                text-align: left;
            }
            .section-ip-one-data-image {
                max-width: 225px;
                margin: 0 auto;
                margin-bottom: 20px;
                @media (max-width: 992px) {
                    max-width: 160px;
                }
                > .widget-span {
                    float: none;
                }
                img {

                }
            }
            .layout-widget-wrapper {
                text-align: center;
                p {
                    margin-top: 0;
                    margin-bottom: 40px;
                }
            }
            .ip-one-data-wrapper {
                .hs_cos_wrapper_type_widget_container {
                    margin-bottom: 15px;
                }
            }
        }
        .big-data-wrapper {
            max-width: 1200px;
            margin: 0 auto;
            background: blue;
            background-size: 100% 100%;
            text-align: center;
            padding: 65px 0 90px;
            @media (max-width: 992px) {
                padding: 65px 0 60px;
            }
            .container {
                > .widget-span {
                    float: none;
                }
            }
            h2 {
                color: #fff;
                font-size: 36px;
                line-height: 32px;
                margin: 0 0 30px;
                @media (max-width: 992px) {
                    font-size: 30px;
                    line-height: 34px;
                }
            }
            hr {
                max-width: 700px;
                @media (max-width: 992px) {
                    border-top: solid 1px #fff;
                }
            }
            h3 {
                color: #fff;
                font-size: 26px;
                line-height: 32px;
                margin: 25px 0 45px;
                @media (max-width: 992px) {
                    margin: 30px 0 35px;
                    font-size: 19px;
                    line-height: 25px;
                }
            }
            p {
                color: #fff;
                font-size: 16px;
                line-height: 24px;
                margin-bottom: 0;
                padding: 0 50px;
                font-weight: 300;
                @media (max-width: 992px) {
                    font-weight: normal;
                    padding: 0;
                    font-size: 19px;
                    line-height: 25px;
                    span {
                        margin-top: 30px;
                        display: block;
                        font-size: 15px;
                        line-height: 21px;
                    }
                }
            }
        }
        .machine-learning {
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 160px;
            background: #f9f9f9;
            height: 100%;
            text-align: center;
            padding-top: 60px;
            padding-bottom: 75px;
            margin-top: 30px;
            @media (max-width: 992px) {
                padding: 0;
                margin-top: 0;
                padding-top: 40px;
                padding-bottom: 50px;
                h3 {
                    margin: 25px 0 65px;
                }
                p {
                    margin: 20px 0 50px;
                }
            }
            .section-header-line {
                span.hs_cos_wrapper_type_rich_text {
                    h3 {
                        margin: 25px 0 35px;
                    }
                    p {
                        margin: 0;
                    }
                }
            }
            .widget-span {
                float: none;
            }

        }
        .realise-value {
            text-align: center;
            margin: 50px 0 10px;
            // h2 {
            //     text-align: center;
            // }
            // @media (max-width: 992px) {
            //     text-align: center;
            // }
            > .container {
                > .widget-span {
                    float: none;
                }
            }
            .ip-one-data {
                .ip-one-data-image-desc {
                    h4 {
                        font-size: 20px !important;
                        line-height: 26px;
                    }
                    h5 {
                        display: none;
                    }
                }
            }
        }
        .connected-apps-section {
            margin-top: 5px;
            max-width: 1200px;
            margin: 0 auto;
            background: #f9f9f9;
            text-align: center;
            padding-top: 15px;
            padding-bottom: 65px;
            margin-bottom: 30px;
            @media (max-width: 992px) {
                padding-bottom: 40px;
                margin-bottom: 0;
            }
            .widget-span {
                float: none;
            }
            h2 {
                font-size: 36px;
                line-height: 32px;
                margin: 50px 0 35px;
                @media (max-width: 992px) {
                    margin: 20px 0 25px;
                    font-size: 30px;
                    line-height: 34px;
                }
            }
            .btn-group-cennected-apps {
                > .widget-span {
                    .row-fluid-wrapper {
                        display: inline-block;
                    }
                }
            }
        }

        .feed-box-section {
            background: none;
            background-repeat: no-repeat;
            background-position: center top;
            margin-bottom: 50px;
            @media (max-width: 992px) {
                margin-bottom: 10px;
            }
            .container {
                position: relative;
                max-width: 1060px;
                padding: 0;
            }
            .widget-type-linked_image {
                display: none;
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                }
            }
            .section-header-line {
                text-align: center;
                padding-top: 70px;
                @media (max-width: 992px) {
                    padding-top: 45px;
                    margin-bottom: 35px !important;
                }
                h2 {
                    color: #fff;
                    font-size: 36px;
                    line-height: 32px;
                    font-weight: 300;
                    @media (max-width: 992px) {
                        font-size: 30px;
                        line-height: 34px;
                    }
                }
                hr {
                    border-top: solid 1px #fff;
                }
                h3 {
                    color: #fff;
                    font-size: 26px;
                    line-height: 32px;
                    font-weight: normal;
                    margin-bottom: 37px;
                    @media (max-width: 992px) {
                        font-size: 19px;
                        line-height: 25px;
                        margin-bottom: 0;
                    }
                }
            }
            .ip-platform-feed-box-content {
                text-align: center;
                width: 100%;
                .hs_cos_wrapper_type_cta {
                    a {
                        margin-bottom: 90px;
                        @media (max-width: 992px) {
                            margin-bottom: 0;
                        }
                        .icon-arrow-right {
                            background: url("https://learn.cpaglobal.com/hubfs/CPA%20Global%20ClickRay/assets/icon/arrow-right-white%20.png");
                            background-repeat: no-repeat;
                            background-position: center center;
                            background-size: 12px;
                            padding-left: 20px;
                        }
                    }
                    a:hover {
                        .icon-arrow-right {
                            background: url("https://learn.cpaglobal.com/hubfs/CPA%20Global%20ClickRay/assets/icon/arrow-right-white%20.png");
                        }
                    }
                }
            }
            .ip-platform-feed-box-module {
                @media (max-width: 992px) {
                    padding: 0 15px;
                }
                .widget-span {
                    > .row-fluid-wrapper {
                        margin-bottom: 65px;
                        @media (max-width: 992px) {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
        .feed-box-section-bg {
            background: url("https://learn.cpaglobal.com/hubfs/CPA%20Global%20ClickRay/assets/image/Landing%20Page/feed-box-bg.jpg");
            background-repeat: no-repeat;
            background-position: center top;
            margin-bottom: 50px;
        }
    }
}
