body.article-single{
	&.hs-blog-listing{
		.article-meta{
			margin-bottom:20px;
		}
		.post-body{
			img.image{
				float:left;
				padding-right:20px;
				padding-bottom:20px;
				max-width:50%;
				@media (max-width:767px){
					width:100%;
					float:none;
					max-width:100%;
					padding-bottom:0px;
					margin-bottom:20px;
					padding-right:0px;
				}
			}
			.hs_cos_wrapper_type_social_sharing{
				float:none;
				width:100%;
				display:block;
				margin-top:10px;
				img{
					width:38px!important;
					height:38px!important;
					max-width:38px!important;
					max-height:38px!important;
					margin-bottom:10px;
				}
			}
			a.cpa-button{
					display: inline-block;
					    position: relative;
					    cursor: pointer;
					    padding: 16px 20px;
					    font-size: 12px;
					    line-height: 1.4;
					    font-weight: 500;
					    text-align: center;
					    text-transform: uppercase;
					    transition: all .2s linear;
					    outline: 0;
				        background: transparent;
				        color: $secondaryFontColor;
				        border: 1px solid $accentColor;
				        				@media (max-width:767px){
					width:100%;
					margin-bottom:50px;

				}
				        &:hover{
				        	background: $accentColor;
				            color: #fff;
				        }
				        margin-bottom:20px;
				        margin-top:10px;
			}
		}
	}
	.body-container-wrapper{
		padding-top:40px;
		.article-header{
			border-bottom:2px solid #eeeeee;
			padding-bottom: 33px;
			width:100%;
			>div.row-fluid-wrapper{
				>div.row-fluid{
					display:flex;
					    @media (max-width:767px){
					    	flex-wrap:wrap;
					    }
					.span9{
						width:100%;
						margin-left:0px;

					}
					.span3{
    width: 100%;
    max-width: 286px;
    min-width: 286px;
    flex-basis:286px;
    position: relative;
    padding-left: 34px;
	@media (max-width:767px){
		display:none;
	}
					}
				}
			}
			h1{
				font-size:36px;
				color:$secondaryFontColor;
				margin-top:39px;
				margin-bottom:39px;
			}
			.article-meta{
				color:#878787;
				font-size:16px;
				font-weight:300;
				a{
					text-decoration:underline;
					font-weight:400;				}
			}
			.article-social-share{
				width:100%;
				>div{
				position:absolute;
				width:100%;
				right:0px;
				padding-left: 34px;
				bottom:0px;
				>span{
					width:100%;
					>span{
						    display: flex;
    justify-content: space-between;
					}
				}
				}
				a{
					width:38px!important;
				img{
					width:38px;
					height:auto;
					max-width:38px!important;
					max-height:38px!important;
					border-radius:50%;
				}
			}
			}
		}
		.article-body{
			padding-top:38px;
			@media (max-width:767px){
				padding-top:0px;
			}
			 >div.row-fluid-wrapper{
				>div.row-fluid{
					display:flex;
					.span9{
						width:100%;
						margin-left:0px;
					}
					.span3{
    width: 100%;
    max-width: 286px;
    min-width: 286px;
    position: relative;
    border-left: 2px solid #eeeeee;
    padding-left: 34px;
        align-self: flex-start;
    padding-bottom: 20px;
        margin-top: 20px;
        	@media (max-width:767px){
		display:none;
	}

					}
				}
			 }
			.section.post-body{
				img{
					@media (max-width:767px){
						width:100%;
						padding-right:0px;
					}
				}
				img.featured-image{
				    float: left;
				    padding-right: 20px;
				    padding-bottom: 20px;
					@media (max-width:767px){
						width:100%;
						padding-right:0px;
					    padding-bottom: 0px;
						margin-bottom:20px;
					}

				}
				a{
					text-decoration:underline;
					font-weight:700;
				}
			}
			.article-social-share{
				padding-bottom:37px;
				p{
					font-size:16px;
					color:#878787;
				}
				width:100%;
				>div{
					width:100%;
					>span{
						width:100%;
						max-width:250px;
						>span{
							    display: flex;
    justify-content: space-between;
    max-width: 252px;
						}
					}
				}
				a{
					width:38px!important;
				img{
					width:38px;
					height:auto;
					max-width:38px!important;
					max-height:38px!important;
					border-radius:50%;
				}
			}
			}
			.article-sidebar{
				h3{
				    color: #878787;
				    font-size: 20px;
				    text-transform: none;
				    font-weight:500;
				    margin-bottom: 35px;
				}
				.widget-type-blog_subscribe{
					margin-top:0px;
					background-color:#f9f9f9;
					h3{
						margin-top:0px;
						padding-top:20px;
						font-size:20px;
						color:#3c3c3c;
						padding-left:14px;
						padding-right:14px;
						font-weight:500;
						margin-bottom:20px;
					}
					form{
						padding-left:14px;
						padding-right:14px;
					.hs-error-msgs{
						padding-left:0;
						margin-left:0;
						list-style:none;
						margin-top:-10px;
						font-size:14px;
					}
					input[type='email']{
						margin-bottom:20px;
					}
					input[type='submit']{
						display: inline-block;
					    position: relative;
					    cursor: pointer;
					    padding: 16px 20px;
					    width:100%;
					    font-size: 12px;
					    line-height: 1.4;
					    font-weight: 500;
					    text-align: center;
					    text-transform: uppercase;
					    transition: all .2s linear;
					    outline: 0;
				        background: transparent;
				        color: $secondaryFontColor;
				        border: 1px solid $accentColor;
				        &:hover{
				        	background: $accentColor;
				            color: #fff;
				        }
				        margin-bottom:20px;
					}
				}
				}
				div.widget-module{
					ul{
						list-style:none;
						padding-left:0px;
						li{
							margin-bottom:0px;
							a{
								text-decoration:underline;
								font-size:16px;
								font-weight:700;
								.filter-link-count{
									display:none;
								}
							}
						}
					}
				}
			}
		}
		.cta-bar{
			    max-width: 1200px;
			    padding-left: 70px;
			    padding-right: 70px;
			    margin: 30px auto;
			    background-repeat: no-repeat;
			    background-position: center;
			    background-size: cover;
			    @media (max-width:767px){
			    	padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
			    }
			    .row-fluid{
			    	min-height: 165px;
				    padding-top: 30px;
				    padding-bottom: 30px;

				    display: flex;

				    align-items: center;
				    @media (max-width:767px){
						display:block;
				    }
				    .span5{
				    @media (max-width:767px){
					   text-align: center;
					    margin-top: 20px;
					}
				    }
			    }
				.widget-type-text {
				    font-size: 26px;
				    line-height: 1.23em;
				    color: #fff;
				    @media (max-width: 767px){
   					 text-align: center;
				    
   					}
				}

			.widget-type-cta {
				    text-align: right;
				    @media (max-width: 767px){
   					 text-align: center;
				    
   					}
				}
			}
		.related-articles-list{
			margin-top:20px;
			display:flex;
			width:100%;
			margin-left:-10px;
			margin-right:-10px;
		        margin-bottom:120px;
			@media (max-width:767px){
				flex-wrap:wrap;
				width:auto;
				margin-bottom:101px;
			}

			.related-article{
				padding-left:10px;
				padding-right:10px;
				max-width:33%;
				flex-basis:33%;
				margin-bottom:40px;
				@media (max-width:767px){
					flex-basis:100%;
					max-width:100%;
				}
				img.image{
					@media (max-width:767px){
						width:100%;
					}
				}
				h5.title{
					font-size:16px;
					color:#3c3c3c;
					font-weight:500;
					margin-top:28px;
					margin-bottom:18px;
				}
				div.description{
					margin-bottom:15px;
				}
				div.author{
					font-size:14px;
				}
				div.date{
					font-size:14px;
					margin-bottom:20px;
				}
				a.read-more{
					display: inline-block;
					    position: relative;
					    cursor: pointer;
					    padding: 16px 20px;
					    width:100%;
					    font-size: 12px;
					    line-height: 1.4;
					    font-weight: 500;
					    text-align: center;
					    text-transform: uppercase;
					    transition: all .2s linear;
					    outline: 0;
				        background: transparent;
				        color: $secondaryFontColor;
				        border: 1px solid $accentColor;
				        &:hover{
				        	background: $accentColor;
				            color: #fff;
				        }
				}

			}
		}
	}
}
