.customer_success_single {
    hr {
        margin: 0;
    }
    .post-header {
        margin: 80px 0;
        @media (max-width: 767px) {
            margin: 20px 0 30px;
        }
    }
    .magnific-video {
        @media (max-width: 767px) {
          margin-bottom: 15px;
        }
    }
    .post-body {
      float: left;
      margin-bottom: 80px;
      &.span-6 {
        padding-right: 6%;
        @media (max-width: 767px) {
          padding-right: 0;
        }
      }
    }
    .story-header {
        margin: 60px 0 40px;
        @media (max-width: 767px) {
            margin: 30px 0;
        }
    }
    .post-body-wrapper {
        .post-body {
            span {
                p {
                    margin: 0 0 20px;
                }
                p:last-child {
                    margin: 0;
                }
            }
        }
    }
    .widget-type-cta {
        @media (max-width: 767px) {
            text-align: center;
        }
    }
    .hs-cta-wrapper a {
        @media (min-width: 768px) {
            float: right;
        }
        margin: 60px 0 200px 0;
        @media (max-width: 767px) {
            margin: 45px 0 130px 0;
        }
    }
    .tear-wrapper {
        position: relative;
    }
    .tear-module-wrapper .tear-module {
        top: -100px;
    }
}
