.benefit-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    .benefit-outer {
        border-top: 1px solid #e0e0e0;
        padding: 65px 70px 90px;
        @media (max-width: 767px) {
            padding: 40px 15px 70px;
        }
        .widget-type-header {
            h3 {
                margin: 0;
                margin-bottom: 45px;
                // @media (max-width: 767px) {
                //     margin-bottom: 0;
                // }
                @media (max-width: 1160px) {
                    margin-bottom: 0;
                }
            }
        }
        .benefit-list {
            .hs_cos_wrapper.hs_cos_wrapper_widget_container {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                > div {
                    width: 25%;
                    flex-basis: 250px;
                    font-weight: normal;
                    @media (max-width: 1160px) {
                        width: 50%;
                        flex-basis: 49%;
                    }
                    @media (max-width: 767px) {
                        width: 100%;
                        flex-basis: 100%;
                    }
                    h4 {
                        margin: 0;
                        margin-bottom: 15px;
                        @media (max-width: 1160px) {
                            margin-top: 50px;
                        }
                        @media (min-width: 767px) and (max-width: 1160px) {
                            min-height: 52px;
                        }
                        @media (min-width: 1160px) {
                            min-height: 78px;
                        }

                    }
                    img {
                        height: 100%;
                        margin-bottom: 5px;
                    }
                    p {
                        line-height: 22px;
                        margin: 0;
                    }
                    p::before {
                        content: '';
                        display: block;
                        width: 15px;
                        height: 2px;
                        background: #c00101;
                        margin: 18px 0 10px;
                    }
                }
            }
        }
    }
}
