.center-text-box-bg { 
	text-align: center;
	padding: 70px 105px 30px 105px;
	max-width: 1200px;
	margin: 17px auto;
	min-height: 500px;
	background-color: #fff;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	@media (max-width: 1024px) {
       padding: 0 20px;
     }
	h2{
		margin-top: 35px;
		margin-bottom: 35px;
		font-weight: 200;
	}
	hr{
		display: block;
		max-width: 734px;
		border: none;
		border-top: 1px solid #cccccc;
		margin: 0 auto;
		@media (max-width: 1042px) {
            width: 70%;
        }
	}
	p{
		font-size: 20px;
		font-weight: 200;
	}
	h3{
		margin-top: 25px;
		margin-bottom: 25px;
		font-weight: 200;
	}
	&--white-fonts{
		color: #fff;
		h2{
			color: #fff;
		}
		hr{
			border-top: 1px solid #fff;
		}
		h3{
			color: #fff!important;
		}
	}
	ul{
		list-style: none;
        margin-top: 46px;
		width: auto;
		display: flex;
		justify-content: space-between;
		flex-wrap:wrap;
		padding-left: 0px;
		flex-basis: 100%;
		
		@media (max-width: 1024px) {
           flex-direction:column;
           flex-wrap: nowrap;
        }
		li{
			//padding-left: 77px;
            margin-bottom: 40px;
            min-height: 48px;
            display: flex;
            align-items: flex-start;
            font-size: 20px;
			//width: 49%;
			flex-basis: 49%;
			text-align: left;
			font-weight: 200;
			@media (max-width: 1024px) {
	            width: 100%;
	            flex-basis: 100%;	
	            flex: 1;        
	        }
			&:before{
                content: "";
                background-image: url('http://learn.cpaglobal.com/hubfs/CPA%20Global%20ClickRay/assets/icon/arrow-inside-bullet-hr_06.png');
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 13px 11px;
                height: 48px;
                min-width: 48px;
                background-color: #fff;
                color: #c00000;
                font-size: 20px;
                border: 1px solid #e0e0e0;
                border-top-left-radius: 50%;
                border-bottom-left-radius: 50%;
                border-bottom-right-radius: 50%;
                z-index: 99;
                transition: 0.3s linear;
                margin-right:20px;
            }
		}
	}
}

.center-text-box-bg { 
	.content-wrapp{
		width: 100%;
	}

}





