/* Nazwa modulu: CPA Global CR - CTA Box*/
/* Oryginal: CPA Home - 3 Boxes Section */

.cta-box-section {
	position: relative;
	float: left;
	width: 100%;

	.hs_cos_wrapper_type_widget_container {
		display: flex;
		flex-wrap: wrap;

		& > .hs_cos_wrapper_type_custom_widget {
			width: 23%;
			margin: 0 auto;

			&:first-of-type {
				margin-left: 0;
			}

			&:last-of-type {
				margin-right: 0;
			}
		}
	}

	.cta-box {
		position: relative;

		&__header {
			display: inline-block;
			min-height: 100px;
			overflow: hidden;
			text-transform: none;
			margin-bottom: 0;
		}

		a:hover {

			.cta-box__header {
				text-decoration: underline;
			}
		}

		&__image {
			display: block;
			margin: 0 auto 20px;
			width: auto;
			height: auto;
		}

		&__rich-text {
			margin-bottom: 10px;

			.cta_button {
				width: 100%;
				box-sizing: border-box !important;
			}
		}
	}

}



@media (max-width: 991px) {
	.cta-box-section {

		.hs_cos_wrapper_type_widget_container {

			& > .hs_cos_wrapper_type_custom_widget {
				width: 46%;

				&:first-of-type {
					margin-left: auto;
				}

				&:last-of-type {
					margin-right: auto;
				}
			}
		}

		.cta-box {

			&__image {
				width: 100%;
			}
		}
	}
}



@media (max-width: 767px) {

	.cta-box-section {
		position: relative;
		float: left;
		width: 100%;

		.cta-box {
			margin-bottom: 50px;

			&__header {
				min-height: 0;
				margin-bottom: 20px;
			}
		}

		.hs_cos_wrapper_type_widget_container {
			display: block;

			& > .hs_cos_wrapper_type_custom_widget {
				width: 100%;
				max-width: 400px;
			}
		}
	}
}