/* Nazwa modulu: CPA Global CR - Event Module */
/* Oryginal: CPA Home - Event Section */

.event-banner {
	position: relative;
	width: 100%;
	max-width: 1200px;
	height: 470px;
	margin: 10px auto 30px;
	padding: 50px 70px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	p, h3 {
		color: #fff;
		font-size: 26px;
		line-height: 1.23em;
		text-transform: uppercase;
		margin-top: 0;
	}

	&__mask {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #000;
		z-index: 1;
	}

	&__top {
		position: relative;			
		z-index: 2;

		img {
			height: auto;
		}
	}

	&__bottom {
		position: absolute;
		display: flex;
		align-items: center;
		bottom: 50px;
		left: 70px;
		right: 70px;
		z-index: 2;

		&--left {
			width: auto;
			margin-right: auto;

			p {
				margin-bottom: 0;
			}
		}

		&--right {
			width: auto;
			margin-left: auto;
			text-align: right;

			.cta_button {
				margin: 10px 0 0 10px;
			}
		}
	}
}



@media (max-width: 767px) {

	.event-banner {
		height: auto;
		margin: 10px auto 30px;
		padding: 50px 15px;
		text-align: center;

		p, h3 {
			font-size: 20px;
		}

		&__top {

		}

		&__bottom {
			position: relative;
			display: block;
			bottom: 0;
			left: 0;
			right: 0;
			margin-top: 30px;

			&--left {
				width: 100%;

				p {
					margin-bottom: 20px;
				}
			}

			&--right {
				width: 100%;
				margin-left: auto;
				text-align: center;

				.cta_button {
					display: inline-block;
					margin: 20px 10px 0 10px;
				}
			}
		}
	}

}




