/* Nazwa modulu: CPA Global CR - Feed Box*/
/* Oryginal: CPA Home - Feed Section #1 */

.feed-box-section {
	position: relative;
	float: left;
	width: 100%;

	.span12 > .row-depth-1 > .row-fluid {
		display: flex;
		flex-wrap: wrap;

		& > .widget-span {
			position: relative;
			margin: 0 auto;

			&:first-of-type {
				margin-left: 0;
			}

			&:last-of-type {
				margin-right: 0;
			}
		}
	}

	.feed-box {
		padding-bottom: 50px;

		&__header {
			margin: 0;
		}

		&__rich-text {
			font-weight: normal;
		}

		.cta_button {
			position: absolute !important;
			bottom: 0;
			left: 0;
			min-width: 160px;
			box-sizing: border-box !important;
		}

		iframe {
			visibility: hidden;
			opacity: 0;
			height: 0;
			max-height: 0;
		}

		.tweeter-posted-on {

			a {
				color: $primaryFontColor;
			}
		}
	}
}


@media (max-width: 991px) {

	.feed-box-section {

		.span12 > .row-depth-1 > .row-fluid {

			& > .widget-span {
				width: 40%;
				margin-bottom: 50px;
				&:first-of-type {
					margin-left: auto;
				}
				&:last-of-type {
					margin-right: auto;
				}
			}
		}
	}
}


@media (max-width: 767px) {

	.feed-box-section {
		position: relative;
		float: left;
		width: 100%;

		.span12 > .row-depth-1 > .row-fluid {
			display: block;

			& > .widget-span {
				width: 100%;
				// max-width: 400px;
			}
		}

		.feed-box {
			padding-bottom: 0;

			&--mobile-hide {
				display: none;
			}

			.cta_button {
				position: relative !important;
			}
		}
	}
}