section.hero-banner {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	.content-wrapper {
		position: relative;
		max-width: 1200px;
		min-height: 460px;
		height: 100%;
		margin: 0 auto;
		.content {
			position: absolute;
			top: 50%;
			width: 100%;
			transform: translateY(-50%);
			@media (max-width: 767px) {
                padding: 0 15px;
            }
			h1, h2 {
				font-weight: 200;
				text-align: center;
				font-size: 48px;
				line-height: 1.04em;
				color: #fff;
				@media (max-width: 767px) {
                    font-size: 36px;
                    line-height: 38px;
                }
			}
			p{
				font-size: 26px;
				color: #fff;
				text-align: center;
				font-weight: 200;
				display: block;
				margin-top: 25px;
				line-height: 1.04em;
			}
		}
	}
}