.homevideo {
	position: relative;
	background-image: none;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 460px;
	overflow: hidden;

	.mask {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 100%;
		z-index: 1;
	}
	video {
		position: absolute;
        top: 50%;
        left: 50%;
        z-index: 0;
        min-height: 100%;
        min-width: 100%;
        height: auto;
        width: 100%;
        object-fit: cover;
        transform: translate(-50%, -50%);
	}



	.content {
    	position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%,-50%);
	    min-width: 80%;
		text-align: center;
		z-index: 2;

		    h1 {
		    	color: #fff;
		    	font-weight: 300;
		    	margin-bottom: 45px;
		    }

		    h2, h3, h4, h5, h6{
				color: #fff;
		    }

		    p {
		    	color: #fff;
		    	font-size:20px;
		    	font-weight:300;
		    	text-align:center;
		    }

		    p:last-of-type {
			    text-align:center;
			    margin-top:40px;

			    a.cta_button{
				    position:relative;
				    margin-bottom:20px;
				    margin-left:10px;
				    margin-right:10px;
				}

				>.hs-cta-wrapper:first-of-type {
					a.cta_button {
				    	position:relative;
					}
				}
		}
    }

}

@media (max-width : 1024px) {
    .homevideo {
    	min-height: 460px;

    	video {
    		display: none;
    	}

    	.content {

    	}
    }
}

@media (max-width: 767px) {

    .homeslider {
        .content {
            p {
                font-size:15px;
           }
        }
    }
}

@media (min-width: 1025px){
	.homevideo.video {
		background-image:none!important;
	}
}

