@media (min-width: 1110px) {
  .cpa-tabs {
    position: relative;
    .widget-span {
      float: none;
      display: flex;
      > div {
        display: flex;
        align-items: center;
        padding-top: 100px;
        .tabs-header {
          .widget-type-widget_container {
            span {
              display: flex;
              position: relative;
              > div {
                width: 106px;
                height: 106px;
                background: #fff;
                background: -moz-linear-gradient(left, #ffffff 0%, #efefef 100%);
                /* FF3.6-15 */
                background: -webkit-linear-gradient(left, #ffffff 0%, #efefef 100%);
                /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to right, #ffffff 0%, #efefef 100%);
                /* IE6-9 */
                border-bottom-right-radius: 20px;
                border-top-left-radius: 20px;
                position: relative;
                overflow: visible;
                transform: rotate(45deg);
                z-index: 2;
                display: table;
                &.active-btn {
                  background: rgba(141,174,208,0.6);
                }
                &:hover {
                  background: rgba(141,174,208,0.6);
                  a {
                    color: #fff;
                  }
                  i {
                    color: #fff;
                  }
                }
                .tabs-contents-text {
                  display: none;
                }
                a {
                  text-align: left;
                  padding-left: 10px;
                  color: black;
                  font-size: 11px;
                  line-height: 14px;
                  font-weight: normal;
                  transform: rotate(-45deg);
                  margin: auto;
                  position: relative;
                  display: table-cell;
                  vertical-align: middle;
                  i {
                    bottom: 0;
                    position: absolute;
                    left: 0;
                    right: 0;
                    text-align: center;
                    color: #c00000;
                  }
                  &.active {
                    color: #fff;
                    i {
                      color: #fff;
                    }
                  }
                }
                a:after {
                  content: "";
                  width: 2px;
                  height: 42px;
                  background: #fff;
                  position: absolute;
                  left: 52px;
                  bottom: -55px;
                }
              }
            }
          }
        }
      }
      > div:nth-child(1) {
        display: none;
      }
      > div:nth-child(2) {
        width: 40%;
        background: url("https://learn.cpaglobal.com/hubfs/CPA%20Global%20ClickRay/assets/image/Landing%20Page/idea-lifecycle-header-1.png");
        background-repeat: no-repeat;
        background-position: top center;
        .tabs-header {
          .widget-type-widget_container {
            span {
              > div:first-child {
                transform: rotate(0deg);
                z-index: 1;
                a {
                  padding-left: 10px;
                  transform: rotate(0deg);
                  i {
                    bottom: 10px;
                    left: -5px;
                  }
                }
                a:after {
                  height: 56px;
                  left: 48px;
                  bottom: -55px;
                }
              }
            }
          }
        }
      }
      > div:nth-child(3) {
        display: none;
      }
      > div:last-child {
        width: 60%;
        background: url("https://cdn2.hubspot.net/hubfs/1576677/CPA%20Global%20ClickRay/assets/image/Landing%20Page/idea-lifecycle-header-2.png");
        background-repeat: no-repeat;
        background-position: top center;
        .tabs-header {
          .widget-type-widget_container {
            span {
              > div:last-child {
                transform: rotate(0deg);
                z-index: 3;
                a {
                  padding-left: 10px;
                  transform: rotate(0deg);
                  i {
                    bottom: 10px;
                    left: -5px;
                  }
                }
                a:after {
                  height: 56px;
                  left: 48px;
                  bottom: -55px;
                }
              }
            }
          }
        }
      }
    }
    .tabs-contents {
      max-width: 1200px;
      margin: 0 auto;
      color: #fff;
      margin-top: 120px;
      > div {
        display: none;
        &.active {
          display: block;
        }
      }
      .tab-content {
        .tab-content-single {
          border-bottom: 2px solid #a2b9d0;
          padding: 35px 0 25px;
          img {
            float: left;
            margin: 0 20px 20px 0;
          }
          h4 {
            font-size: 20px;
            line-height: 26px;
            text-transform: uppercase;
            color: #fff;
            margin: 0;
            margin-bottom: 25px;
          }
          p {
            font-size: 16px;
            line-height: 22px;
            color: #fff;
            margin: 0;
            margin-bottom: 20px;
          }
          p:last-child {
            margin-bottom: 0;
          }
          .clear-fix {
            clear: both;
            width: 100%;
            height: 1px;
          }
        }
        .tab-content-single:last-child {
          border-bottom: none;
          padding-bottom: 0;
        }
      }
    }
    &:after {
      content: 'IP ONE DATA';
      display: block;
      height: 28px;
      width: 100%;
      background: #fff;
      margin-top: 55px;
      font-size: 11px;
      line-height: 28px;
      font-weight: 700;
      position: absolute;
      top: 205px;
      // bottom: 0;
    }
  }
}

// MOBILE
@media (max-width: 1109px) {
  .cpa-tabs.mobile {
    > .widget-span {
      position: relative;
      > div:nth-child(1) {
        display: block;
        h4 {
          text-align: left;
          font-size: 12px;
          position: absolute;
          color: #fff;
          top: -5px;
        }
      }
      > div:nth-child(3) {
        display: block;
        h4 {
          text-align: left;
          font-size: 12px;
          position: absolute;
          color: #fff;
          top: -5px;
        }
      }
      > .row-fluid-wrapper {
        margin-bottom: 50px;
        > .row-fluid {
          position: relative;
          .tabs-header {
            margin-right: 50px;
            .widget-span {
              span {
                > div.hs_cos_wrapper_widget {
                  text-align: left;
                  padding: 0 37px;
                  position: relative;
                  .tabs-contents-text {
                    position: absolute;
                    display: block;
                    top: 0;
                    left: 0;
                    right: 0;
                    color: #fff;
                    z-index: 5;
                    padding-left: 37px;
                    line-height: 75px;
                    font-size: 12px;
                    white-space: nowrap;
                    i {
                      position: absolute;
                      bottom: 0;
                      line-height: 75px;
                      right: 37px;
                      text-align: center;
                      color: #fff;
                      @media (max-width: 380px) {
                        display: none;
                      }
                    }
                  }
                  a {
                    z-index: 3;
                    padding-left: 0;
                    display: block;
                    height: 75px;
                    width: 100%;
                    background: #fff;
                    line-height: 75px;
                    position: relative;
                    color: #000;
                    font-size: 12px;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;
                    border-bottom-left-radius: 10px;
                    background: #efefef;
                    background: -moz-linear-gradient(top, #efefef 0%, #ffffff 100%);
                    background: -webkit-linear-gradient(top, #efefef 0%, #ffffff 100%);
                    background: linear-gradient(to bottom, #efefef 0%, #ffffff 100%);
                    z-index: 10;
                    font-weight: normal;
                    white-space: nowrap;
                    i {
                      position: absolute;
                      bottom: 0;
                      line-height: 75px;
                      right: 0;
                      text-align: center;
                      color: #c00000;
                      @media (max-width: 380px) {
                        display: none;
                      }
                    }
                    &:before {
                      z-index: -1;
                      content: '';
                      height: 49px;
                      width: 49px;
                      background: #fff;
                      position: absolute;
                      left: -22px;
                      top: 13px;
                      transform: rotate(45deg);
                      background: #efefef;
                      background: -moz-linear-gradient(-45deg, #efefef 0%, #ffffff 100%);
                      background: -webkit-linear-gradient(-45deg, #efefef 0%, #ffffff 100%);
                      background: linear-gradient(135deg, #efefef 0%, #ffffff 100%);
                    }
                    &:after {
                      z-index: -1;
                      content: '';
                      height: 49px;
                      width: 49px;
                      background: #fff;
                      position: absolute;
                      right: -22px;
                      top: 13px;
                      transform: rotate(45deg);
                      background: #efefef;
                      background: -moz-linear-gradient(-45deg, #efefef 0%, #ffffff 100%);
                      background: -webkit-linear-gradient(-45deg, #efefef 0%, #ffffff 100%);
                      background: linear-gradient(135deg, #efefef 0%, #ffffff 100%);
                    }
                    &.active {
                      background: #fff;
                      color: #fff;
                      opacity: 0.2;
                      i {
                        display: none;
                      }
                      &:before {
                        background: #fff;
                      }
                      &:after {
                        background: #fff;
                      }
                    }
                  }
                  .tabs-contents-mobile {
                    color: #fff;
                    .tab-content {
                      padding: 20px 0;
                      .tab-content-single {
                        margin-bottom: 25px;
                        img {
                          float: left;
                          margin: 0 15px 10px 0;
                          max-width: 100%;
                          height: auto;
                        }
                        h4 {
                          color: #fff;
                          margin: 0;
                          margin-bottom: 15px;
                        }
                        p {
                          font-size: 15px;
                          line-height: 21px;
                          margin: 0;
                          font-weight: 300;
                        }
                        p:last-child {
                          margin-bottom: 0;
                        }
                        .clear-fix {
                          clear: both;
                          width: 100%;
                          height: 1px;
                        }
                      }
                    }

                  }
                  &:last-child {
                    .tabs-contents-mobile {
                      .tab-content {
                        padding: 20px 0 0;
                      }
                    }
                  }
                  &:after {
                    content: '';
                    position: absolute;
                    right: -25px;
                    background: #fff;
                    top: 36.5px;
                    width: 35px;
                    height: 2px;
                  }
                }
              }
            }
            &:before {
              content: '';
              position: absolute;
              right: 0;
              background: #fff;
              top: 0;
              bottom: 0;
              width: 25px;
            }
            &:after {
                content: 'IP ONE DATA';
                position: absolute;
                right: -27px;
                top: 57%;
                color: #000;
                font-size: 12px;
                transform: rotate(90deg) translateX(-50%);
              }
          }
        }

        &:nth-child(2) {
          > .row-fluid {
            .tabs-header {
              .widget-span {
                span {
                  > div.hs_cos_wrapper_widget:first-child {
                    padding: 0;
                    .tabs-contents-text {
                      @media (max-width: 380px) {
                        padding-left: 10px;
                      }
                      i {
                        @media (max-width: 380px) {
                          display: none;
                        }
                      }
                    }
                    a {
                      padding-left: 37px;
                      border-top-left-radius: 25px;
                      border-top-right-radius: 0;
                      border-bottom-right-radius: 25px;
                      border-bottom-left-radius: 0;
                      @media (max-width: 380px) {
                        padding-left: 10px;
                      }
                      i {
                        right: 37px;
                        @media (max-width: 380px) {
                          display: none;
                        }
                      }
                      &:before {
                        display: none;
                      }
                      &:after {
                        display: none;
                      }
                      &.active {
                        opacity: 0.2;
                        color: #fff;
                      }
                    }
                    .tab-content {
                      padding-left: 37px;
                      padding-right: 37px;
                    }
                    &:after {
                      width: 25px;
                    }
                  }
                }
              }
            }
          }
        }

        &:last-child {
          > .row-fluid {
            .tabs-header {
              .widget-span {
                span {
                  > div.hs_cos_wrapper_widget:last-child {
                    padding: 0;
                    .tabs-contents-text {
                      padding-left: 37px;
                      @media (max-width: 380px) {
                        padding-left: 10px;
                      }
                      i {
                        @media (max-width: 380px) {
                          display: none;
                        }
                      }
                    }
                    a {
                      padding-left: 37px;
                      border-top-left-radius: 25px;
                      border-top-right-radius: 0;
                      border-bottom-right-radius: 25px;
                      border-bottom-left-radius: 0;
                      @media (max-width: 380px) {
                        padding-left: 10px;
                      }
                      i {
                        right: 37px;
                        @media (max-width: 380px) {
                          display: none;
                        }
                      }
                      &:before {
                        display: none;
                      }
                      &:after {
                        display: none;
                      }
                      &.active {
                        opacity: 0.2;
                        color: #fff;
                      }
                    }
                    .tab-content {
                      padding-left: 37px;
                      padding-right: 37px;
                    }
                    &:after {
                      width: 25px;
                    }
                  }
                }
              }
            }
          }
        }

      }
    }
    .tabs-contents {
      display: none;
    }
    .tabs-contents-mobile {
      overflow: hidden;
      max-height: 0px;
      transition: all ease-in-out 0.3s;
    }
  }
}
