
section.single-img-txt{
	&.left{
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin:30px 0px;
		@media (max-width: 767px) {
			flex-direction: column;
		}
		.icon{
			width:250px;
			height:250px;
			border-radius: 50%;
			background-color: #fff;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: 50%;
			order: 1;
			@media (max-width: 767px) {
				width:180px;
				height:180px;
				background-size: 50%;
			}
		}
		.description{
			max-width: 375px;
			margin: 0px 40px;
			order: 2;
			@media (max-width: 767px) {
				margin: 15px auto 0px auto;
			}
			h3{
				color: #3c3c3c;
				font-size: 20px;
				@media (max-width: 767px) {
					text-align: center;
					margin-top:0px;
				}
			}
			p{
				color: #3c3c3c;
				font-size: 16px;
			}
			strong{

				a{
					text-align: center;
					padding-bottom: 3px;
					&:hover{
						border-bottom: 1px solid $accentColor;
					}
				}
			}
		}
	}
	&.right{
		width: 100%;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin:30px 0px;
		@media (max-width: 767px) {
			flex-direction: column;
			}
		.icon{
			width:250px;
			height:250px;
			border-radius: 50%;
			background-color: #fff;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: 50%;
			order: 2;
			@media (max-width: 767px) {
				order: 1;
				width:180px;
				height:180px;
				background-size: 50%;
			}
		}
		.description{
			max-width: 375px;
			margin: 0px 40px;
			order: 1;
			@media (max-width: 767px) {
				margin: 15px auto 0px auto;
			}
			h3{
				color: #3c3c3c;
				font-size: 20px;
				@media (max-width: 767px) {
					text-align: center;
					margin-top:0px;
				}
			}
			p{
				color: #3c3c3c;
				font-size: 16px;
			}
			strong{

				a{
					text-align: center;
					padding-bottom: 3px;
					&:hover{
						border-bottom: 1px solid $accentColor;
					}
				}
			}

			@media (max-width: 767px) {
				order: 2;
			}

		}
	}
}



