.ip-one-data-wrapper {
    span {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .hs_cos_wrapper_type_custom_widget {
            flex-basis: 340px;
            margin-bottom: 40px;
            @media (max-width: 992px) {
                margin: 0 auto;
                margin-bottom: 35px;
            }
            .ip-one-data {
                .ip-one-data-image {
                    position: relative;
                    img {
                        height: 155px !important;
                    }
                    .ip-one-data-image-desc {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        margin: 0 auto;
                        text-align: center;
                        h4 {
                            color: #c00000;
                            font-size: 26px;
                            line-height: 26px;
                            margin-top: 54px;
                            margin-bottom: 0;
                        }
                        h5 {
                            color: #3c3c3c;
                            font-size: 20px;
                            line-height: 20px;
                            margin-top: 12px;
                            margin-bottom: 43px;
                        }
                    }
                }
                .ip-one-data-text {
                    text-align: left;
                    padding-top: 20px;
                }
            }
        }
    }
}
