.ip-teams-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    .grey-bg {
        background-color: #f9f9f9;
        padding: 60px 70px 65px;
        @media (max-width: 767px) {
            padding: 50px 40px 20px 15px;
        }
        .widget-type-header {
            .layout-widget-wrapper {
                .hs_cos_wrapper_type_header {
                    h3 {
                        margin: 0;
                        margin-bottom: 45px;
                        @media (max-width: 767px) {
                            margin-bottom: 35px;
                        }
                    }
                }
            }
        }
        .hs_cos_wrapper.hs_cos_wrapper_widget_container {
            display: flex;
            justify-content: center;
            // > div {
            //     width: 33%;
            // }
            .ip-teams-single {
                font-weight: normal;
                h4 {
                    margin: 0;
                    margin-bottom: 25px;
                    @media (max-width: 767px) {
                        margin-bottom: 15px;
                        font-size: 19px;
                        line-height: 25px;
                    }
                }
                p {
                    margin: 0;
                    padding-right: 10px;
                    @media (max-width: 767px) {
                        font-size: 15px;
                        line-height: 21px;
                    }
                }
                .cta_button  {
                    margin-top: 45px;
                    @media (max-width: 767px) {
                        margin-top: 25px;
                    }
                }
            }
            @media (max-width: 767px) {
                flex-wrap: wrap;
                .ip-teams-single {
                    margin-bottom: 40px;
                }
            }
        }
    }
}
