.ip-guru-member {
	max-width: 1060px;
	margin: 0 auto;
	display: flex;
	background-color: #f9f9f9;
	margin-top: 20px;
	padding: 40px 40px 120px 40px;
	position: relative;
	@media (max-width: 767px) {
		flex-direction: column;
	}
	@media (max-width: 450px) {
		padding: 15px 15px 100px 15px;
	}
	&__picture {
		max-width: 160px;
		height: auto;
		border-top-left-radius: 50%;
		border-bottom-left-radius: 50%;
		border-bottom-right-radius: 50%;
		@media (max-width: 767px) {
			margin: 0 auto;
		}
	}
	&__info-wrapper {		
		border-bottom: 1px solid #e0e0e0;
		padding-bottom: 30px;
		margin-bottom: 50px;
	}
	&__desc-wrapper{
		//height:100%;
		position: relative;
		overflow: hidden;
		max-height:140px;
		transition:max-height linear 0.3s;
		width: 70%;
		margin-left: 40px;
		@media (max-width: 767px) {
			width: 100%;
			margin-left: 0;
		}

	}
	&__position, &__name {
		font-size: 20px;
		@media (max-width: 767px) {
			text-align: center;
		}
	}
	&__name {
		margin-top: 10px;
	}
	&__position {
		font-weight: 500;
	}
	&__details {
		max-width: 625px;
	}
	&__latest {
		h4 {
			color: $secondaryFontColor;
			text-transform: none;
		}
		border-bottom: 1px solid #e0e0e0;
	}
	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		.post-box {
			//max-width: 50%;
			margin-bottom: 55px;
			padding-right: 2%;
			flex: 0 0 48%;
			@media (max-width: 767px) {
				//max-width: 100%;
				flex: 0 0 100%; 
				padding: 0;
				display: none;
				&:nth-child(1) {
					display: block;
				}
			}
			&__img {
				margin-bottom: 15px;
				img {
					max-width: 100%;
					height: auto;
				}
			}
			&__title {
				margin-bottom: 15px;
				font-weight: 500;
			}
			&__body {
				margin-bottom: 25px;
			}
			&__button {
				border: 1px solid $accentColor;
			    padding: 14px 35px;
			    line-height: 18px;
			    display: inline-block;
			    min-width: 160px;
			    text-align: center;
			    &:hover {
			    	background-color: $accentColor;
			    	color: #fff;
			    	transition: all 0.2s ease-in-out;
			    }
			}
			&__date {
				margin-bottom: 35px;
				font-size: 14px;
				font-weight: 300;
			}
		}
	}
	&__button {
		border: 1px solid $accentColor;
	    padding: 14px 20px;
	    line-height: 18px;
	    display: inline-block;
	    min-width: 160px;
	    text-align: center;
	    margin-top: 30px;
	    position: absolute;
	    bottom: 30px;
	    left: 240px;
	    //margin-left: 200px;
	    @media (max-width: 767px) {
	    	//margin-left: 0;
	    	left: 50%;
	    	transform: translateX(-50%);
	    	//width: calc(100% - 80px);
	    	
	    	width: 70%;
	    }
	    // @media (max-width: 450px) {
	    // 	//width: calc(100% - 40px);
	    // 	//left: 20px;
	    // }
	    &:after {
	    	content: '';
	    	background-image: url('https://cdn2.hubspot.net/hubfs/1576677/Cpa_Global_/Image/_ip-gurus/arrow-red.svg');
	    	background-size: 15px 8px;
	    	width: 15px;
	    	height: 8px;
	    	display: inline-block;
	    	margin-left: 10px;
	    	transform: rotate(180deg);
	    }
	    &:hover {
	    	background-color: $accentColor;
	    	color: #fff;
	    	transition: all 0.2s ease-in-out;
	    	&:after {
	    		background-image: url('https://cdn2.hubspot.net/hubfs/1576677/Cpa_Global_/Image/_ip-gurus/arrow-white.svg');
	    	}
	    }
	}
	&.ip-guru-member--collapsed {
		position: relative;
		padding: 40px 40px 80px 40px;
		@media (max-width: 450px) {
			padding: 15px 15px 80px 15px;
		}
		.ip-guru-member__desc-wrapper{
			max-height:180px;
			transition:max-height linear 0.3s;
			margin-bottom: 10px;
		}
		.ip-guru-member__desc {
			&:before {
			  content:'';
			  width:100%;
			  height:100%;    
			  position:absolute;
			  left:0;
			  top:0;
			  //background-color: transparent;
			  //background-image: linear-gradient(transparent, 110px, #f9f9f9);
			  background:linear-gradient(rgba(255,255,255,0) 110px, #f9f9f9);
			}
		}
		.ip-guru-member__button {
		    &:after {
		    	content: '';
		    	background-image: url('https://cdn2.hubspot.net/hubfs/1576677/Cpa_Global_/Image/_ip-gurus/arrow-red.svg');
		    	background-size: 15px 8px;
		    	width: 15px;
		    	height: 8px;
		    	display: inline-block;
		    	margin-left: 10px;
		    	transform: none;
		    }
		    &:hover {
		    	&:after {
		    		background-image: url('https://cdn2.hubspot.net/hubfs/1576677/Cpa_Global_/Image/_ip-gurus/arrow-white.svg');
		    	}
		    }
		}
	}
}
