.join-us {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin: 50px auto;
	min-height: 315px;
	max-width: 1200px;
	padding: 30px 70px 60px;
	@media (max-width: 767px) {
		padding: 5px 15px 10px;
		min-height: initial;
		margin: 0;
	}
	h4 {
		color: #fff;
		text-align: center;
		font-weight: 300;
		margin-bottom: 30px;
		@media (max-width: 767px) {
			margin-bottom: 20px;
			font-size: 16px;
		}
	}
	&__buttons {
		display: flex;
		text-align: center;
		justify-content: space-between;
		@media (max-width: 767px) {
			flex-direction: column;
		}
		>span {
			flex: 0 1 50%;
			@media (max-width: 767px) {
				flex: 0 1 100%;
				min-height: 89px;
			}
		}
		span {
			display: block;
			width: 100%;
		}
	}

	&__button {
		border: 1px solid #fff;
		color: #fff;
		padding: 30px 15% 65px;
		max-width: 520px;
		font-size: 26px;
		font-weight: 300;
		line-height: 1.23em;
		position: relative;
		display: block;
		transition: all 0.2s linear;
		&:after {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			bottom: 30px;
			content: '';
			background-image: url('https://learn.cpaglobal.com/hubfs/CPA%20Global%20ClickRay/assets/image/careers/Arrow.png');
			background-size: 17px 14px;
			height: 14px;
			width: 17px;
		}
		&:hover {
			color: $secondaryFontColor;
			background-color: #fff;
			&:after {
				background-image: url('https://learn.cpaglobal.com/hubfs/CPA%20Global%20ClickRay/assets/image/careers/arrow-red-retina.png');
			}
		}
		@media (max-width: 767px) {
			padding: 25px 40px 25px 10px;
			max-width: 100%;
			margin-bottom: 15px;
			font-size: 18px;
			&:after {
				left: initial;
				bottom: initial;
				top: 50%;
				transform: translate(0,-50%);
				right: 20px;
			}
		}
		&.cta_button {
			box-sizing: border-box !important;
		}
		&--right {
			margin-left: 10px;
			@media (max-width: 767px) {
				margin-left: 0;
			}
		}
	}
}