/* Nazwa modulu: CPA Global CR - Video Module */
/* Oryginal: CPA Home - Video Section */

.magnific-video {
	position: relative;
	text-align: center;
	z-index: 1;

	&__button {
		display: inline-block;
		position: absolute;
		left: 0;
		right: 0;
		top: 50%;
		margin: auto;
		transform: translateY(-50%);
		z-index: 2;
	}

	video {
		width: 100%;

		&::-webkit-media-controls-start-playback-button {
		  display: none !important;
		  -webkit-appearance: none;
		}
	}
}


/* Modal styles */
.mfp-content {

	.container {
		position: relative;
		padding: 0;
	}
}