section.video-module-wrapper {
		max-width: 1200px;
		margin: 0 auto;
	.video-txt-module {
	    padding: 70px 70px 60px 70px;
	    float: right;
	    width: 100%;
	    .magnific-video {
	    	width: 70%;
	    	float: right;
	    }
	    h3, .desc {
	    	width: 28%;
	    }
	    h3 {
	    	margin-top: 0;
	    }
	    .desc {
	        font-size: 20px;
	        line-height: 1.3em;
	        font-weight: normal;
	    }
	    @media (max-width: 767px) {
	    	float: none;
	    	display: flex;
	    	flex-direction: column;
	    	padding: 20px 15px;
	    	h3, .desc {
	    		width: 100%;
	    	}
	    	h3 {
	    		order: 1;
	    	}
	    	.magnific-video {
	    		order: 2;
	    		width: 100%;
	    	}
	    	.desc {
	    		order: 3;
	    	}
	    }
	}	
}