/* Nazwa modulu: CPA Global CR - Slide (Main Slider) */
/* Oryginal: CPA Home - Hero Slider Section */

.main-slider {
	height: 460px;
	overflow: hidden;

	.slide {
		position: relative;
		width: 100%;
		height: 460px;
		overflow: hidden;
		background-repeat: no-repeat, no-repeat;
		background-position: center, center;
		background-size: cover, 0;

		&__mask {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #000;
			z-index: 1;
		}

		.container {
			position: relative;
			height: 100%;
		}

		&__tear-shape {
			position: absolute;
			width: 700px;
			height: 700px;
			top: 0;
			left: -70px;
			border: 1px solid #fff;
			border-radius: 0px 50% 50% 50%;
			z-index: 2;
		}

		&__caption {
			position: relative;
			margin-top: 25px;
			padding-top: 60px;
			z-index: 2;

			h1, h2 {
				margin-top: 0;
				font-size: 48px;
				line-height: 1.04em;
				color: #fff;
				font-weight: 300;
			}
		}
	}

	.slick-dots {
	    bottom: 40px;
	}
}

@media (max-width: 767px) {
	.main-slider {

		.slide {

			&__tear-shape {
				display: none;
			}

			&__caption {
				position: absolute;
				margin-top: 0;
				padding-top: 0;
				top: 50%;
				transform: translateY(-50%);

				h1, h2 {
					font-size: 36px;
				}
			}
		}

		.slick-dots {
			padding-left: 15px;
			text-align: left;
		}
	}
}

@media (max-width: 580px) {

	.main-slider {

		.slide {
			background-size: 0, cover;
		}
	}
}