section.map-module-wrapper {
	max-width: 1200px;
	margin: 0 auto;
	background-color: #f9f9f9;
	padding: 30px 50px 50px 50px;
	margin-top: 20px;
	position: relative;
	@media (max-width: 767px) {
		padding: 25px 15px 45px;
	}
	.container {
		padding: 0;
		.text-wrapper {
			max-width: 550px;
			h3 {
				color: $secondaryFontColor;
				text-transform: uppercase;
				font-weight: 300;
			}
		}
	}
	.map-wrapper {
		@media (max-width: 600px) {
			display: none;
		}
		// @media (max-width: 992px) {
		// 	border: 2px solid #e0e0e0;
		// 	overflow: scroll;
		// 	height: 400px;
		// 	img {
		// 		max-width: none;
		// 		width: 1300px;
		// 	}
		// 	.joystick {	
		// 		display: none;			
		// 		position: absolute;
		// 		height: 70px;
		// 		width: 70px;
		// 		right: 65px;
		// 		bottom: 65px;
		// 		border-radius: 50%;
		// 		border: 2px solid #878787;
		// 		.arrow {
		// 			position: absolute;
		// 			width: 0; 
		// 			height: 0;
		// 			&.arrow-top {
		// 				top: 8px;
		// 				left: 27px;
		// 				border-left: 6px solid transparent;
		// 				border-right: 6px solid transparent;
		// 				border-bottom: 10px solid $secondaryFontColor;
		// 			}
		// 			&.arrow-right {
		// 				top: 27px;
		// 				right: 8px;
		// 				border-top: 6px solid transparent;
		// 				border-bottom: 6px solid transparent;
		// 				border-left: 10px solid $secondaryFontColor;
		// 			} 
		// 			&.arrow-bottom {
		// 				left: 27px;
		// 				bottom: 8px;
		// 				border-left: 6px solid transparent;
		// 				border-right: 6px solid transparent;
		// 				border-top: 10px solid $secondaryFontColor;
		// 			} 
		// 			&.arrow-left {
		// 				top: 27px;
		// 				left: 8px;
		// 				border-top: 6px solid transparent;
		// 				border-bottom: 6px solid transparent;
		// 				border-right: 10px solid $secondaryFontColor;
		// 			}  
		// 		}
		// 		.icon-middle {
		// 			width: 12px;
		// 			height: 12px;
		// 			position: absolute;
		// 			border-radius: 50%;
		// 			background-color: $secondaryFontColor;
		// 			left: 50%;
		// 			top: 50%;
		// 			transform: translate(-50%,-50%);
		// 		}
		// 	}
		// }
	}
	.mobile-map-slider-wrapper {
		display: none;
		@media (max-width: 600px) {
			display: block;
			border: 2px solid #e0e0e0;
			height: auto;
			.mobile-map-wrapper {
				border: none;
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center;
				//min-height: 256px;
			}
		}
		.slick-dots {
			li {
				button {
					background: #e0e0e0;
				}
				&.slick-active {
					button {
						background: $accentColor;
					}				
				}
			}
		}
	}
	// @media (max-width: 992px) {
	// 	padding: 0;
	// 	.container {
	// 		padding: 30px 50px 50px 50px;
	// 	}
	// }
	// @media (max-width: 767px) {
	// 	.container {
	// 		padding: 25px 15px;
	// 	}
	// }
}