.our-thinking-wrapper {
    .our-thinking-bg {
        margin-bottom: 60px;
        .widget-type-custom_widget {
            .our-latest-thinking-image-bg {
                height: 400px;
                background-size:cover;
                background-position: center center;
                @media (max-width: 992px) {
                    height: 300px !important;
                }
                @media (max-width: 767px) {
                    height: 230px !important;
                    margin: 0 15px;
                }
                .our-latest-thinking-inner-text {
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                    padding: 0 70px;
                    @media (max-width: 767px) {
                        padding: 0 20px;
                    }
                    p {
                        font-size: 26px;
                        line-height: 32px;
                        color: #fff;
                        font-weight: 100;
                        margin: 0 0 45px;
                        @media (max-width: 992px) {
                            margin: 0 0 35px;
                        }
                        @media (max-width: 767px) {
                            margin: 0 0 25px;
                        }
                    }
                    span.hs-cta-wrapper {
                        a.cta_button {

                        }
                    }
                }
            }
        }
    }
}
