.persona-news-wrapper {
    max-width: 1060px;
    margin: 0 auto;
    @media (max-width: 1100px) {
        padding: 0 30px;
    }
    @media (max-width: 767px) {
        padding: 0 15px;
    }
    .persona-news-bg {
        .hs_cos_wrapper_widget_container.hs_cos_wrapper_type_widget_container {
            display: flex;
            @media (max-width: 767px) {
                flex-wrap: wrap;
            }
            .hs_cos_wrapper_widget.hs_cos_wrapper_type_custom_widget {
                max-width: 265px;
                justify-content: space-between;
                @media (max-width: 767px) {
                    max-width: 767px;
                    margin: 0;
                }

                display: flex;
                .persona-news-single {
                    padding-right: 5px;
                    padding-bottom: 50px;
                    position: relative;
                    @media (max-width: 767px) {
                        padding-right: 40px;
                        margin-bottom: 30px;
                        padding-bottom: 70px;
                    }
                    @media (max-width: 1100px) {
                        padding-right: 20px;
                    }
                    h4 {
                        line-height: 30px;
                        margin: 0;
                        margin-bottom: 25px;
                        color: #3c3c3c;
                    }
                    h6 {
                        font-size: 16px;
                        line-height: 22px;
                        color: #3c3c3c;
                    }
                    p {
                        margin: 0;
                        font-size: 16px;
                        line-height: 22px;
                        color: #3c3c3c;
                        font-weight: 300;
                    }
                    .news-data {
                        display: block;
                        height: 22px;
                        margin-top: 22px;
                        font-size: 14px;
                    }
                    @media (max-width: 767px) {
                        .news-data:empty {
                            display: none;
                        }
                    }
                    .hs-cta-wrapper {
                        position: absolute;
                        bottom: 0;
                    }
                    .cta_button  {
                        margin-top: 40px;
                        @media (max-width: 767px) {
                            margin-top: 100px;
                        }
                    }
                }
            }
        }
    }
}
