.solutions-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    .slick-track {
        display: flex;
        .slick-slide {
            display: flex;
            height: auto;
        }
        .slick-slide:focus {
            outline: none;
        }
    }
    .solutions-bg {
        padding: 80px 70px;
        border-bottom: 1px solid #e0e0e0;
        @media (max-width: 767px) {
            padding: 50px 15px 65px;
        }
        .widget-type-header {
            .layout-widget-wrapper {
                .hs_cos_wrapper_type_header {
                    h3 {
                        margin: 0;
                        margin-bottom: 40px;
                    }
                }
            }
        }
        .hs_cos_wrapper.hs_cos_wrapper_widget_container {
            display: flex;
            justify-content: center;
            > div {
                // width:33%;
            }
            .slick-arrow {
                display: inline-block;
                position: absolute;
                top: 65px;
                background: #c00000;
                color: #fff;
                border: none;
                width: 50px;
                height: 50px;
                @media (max-width: 767px) {
                    width: 30px;
                }
                font-size: 24px;
                text-align: center;
                line-height: 50px;
                cursor: pointer;
                transition: 0.2s linear;
            }
            .slick-arrow:hover{
                background: #e0e0e0;
                color: #c00000;
            }
            .slick-arrow:first-child {
                left: -70px;
                @media (max-width: 767px) {
                    left: 0;
                }
            }
            .slick-arrow:last-child {
                right: -70px;
                @media (max-width: 767px) {
                    right: 0;
                }
            }
            .solutions-single:focus {
                outline: none !important;
            }
            .solutions-single {
                padding-right: 20px;
                padding-left: 1px;
                position: relative;
                padding-bottom: 80px;
                @media (max-width: 767px) {
                    padding-right: 42px;
                    padding-left: 42px;
                    padding-bottom: 90px;
                }
                @media (max-width: 480px) {
                    padding-right: 45px;
                    padding-left: 45px;
                }
                .solutions-single-img {
                    max-width: 350px;
                    height: 200px;
                    background-size: cover;
                    .solutions-single-img-desc {
                        color: #fff;
                        position: absolute;
                        top: 28px;
                        padding-left: 26px;
                        transition: all .25s ease;
                        .solutions-single-img-text {
                            font-size: 21px;
                            font-weight: normal;
                        }
                        .solutions-single-img-arrow {
                            font-size: 22px;
                            margin-top: 5px;
                        }
                    }
                }
                // .solutions-single-img:hover {
                //     .solutions-single-img-desc {
                //         opacity: 1;
                //     }
                // }
                .separator-line {
                    background: #c00000;
                    margin: 18px 0 14px;
                    width: 15px;
                    height: 2px;
                }
                h4 {
                    margin: 0;
                    margin-bottom: 25px;
                }
                p {
                    margin: 0;
                    padding-right: 25px;
                    font-weight: normal;
                }
                .hs-cta-wrapper {
                    position: absolute;
                    left: 1px;
                    right: 20px;
                    bottom: 0;
                    @media (max-width: 766px) {
                        left: 40px;
                    }
                    .cta_button:focus {
                        outline: none;
                    }
                }
            }
        }
    }
}

.persona-law {
    .solutions-bg {
        @media (max-width: 766px) {
            padding: 50px 15px 40px;
        }
    }
}
