.team-member {
	max-width: 550px;
	display: flex;
	margin-top: 75px;
	&__picture {
		max-width: 160px;
		height: auto;
		border-top-left-radius: 50%;
		border-bottom-left-radius: 50%;
		border-bottom-right-radius: 50%;
	}
	&__desc {
		padding: 0 20px;
	}
	&__position, &__name {
		font-size: 20px;
	}
	&__position {
		font-weight: 500;
		max-width: 350px;
	}
	&__details {
		max-width: 380px;
	}
	@media (max-width: 767px) {
		margin: 75px auto 0;
	}
	@media (max-width: 450px) {
		flex-direction: column;
		&__picture {
			margin: 0 auto;
		}
		&__desc {
			padding: 20px 0;
		}
		&__details {
			max-width: 450px;
		}
	}
}