.tear-module-wrapper {
	position: absolute;
	max-width: 1300px;
	width: 100%;
	left: 50%;
	transform: translateX(-50%);
	top: 0;
	@media (max-width: 767px) {
		width: 100%;
		position: relative;
		min-height: 200px;
		top: 25px;
	}
	.tear-module {
	    position: absolute;
	    height: 200px;
	    width: 200px;
	    background-color: $accentColor;
	    color: #fff;
	    font-size: 20px;
	    border: 1px solid $accentColor;
	    text-transform: uppercase;
	    //padding: 78px 63px;
	    border-top-left-radius: 50%;
	    border-bottom-left-radius: 50%;
	    border-bottom-right-radius: 50%;
	    right: 0;
	    top: -210px;
	    z-index:99;
	    transition: 0.3s linear;
	    &:hover {
	    	color: $accentColor;
	    	background-color: #e0e0e0;
	    	border-color: #e0e0e0;
	    }
	    span {
	    	position: absolute;
	    	left: 50%;
	    	top: 50%;
	    	transform: translate(-50%, -50%);
	    	text-align: center;
	    	font-weight: 200;
	    	strong {
	    		font-weight: 500;
	    	}
	    }
	    @media (max-width: 767px) {
			top: 0;
			left: 50%;
			transform: translateX(-50%);
	    }
	}
}
.get-in-touch-form-overlay {
	position: fixed;
	background: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
	left: 0;
	right: 0;
	top: 0;
	z-index: 2000;
	overflow-y: scroll;
	.get-in-touch-form {
		max-width: 700px;
		margin: 0 auto;
	    background: white;
	    margin: 150px auto;
	    @media (max-width: 767px) {
	        margin: 30px auto;
	    }
	    @media (max-width: 485px) {
	        margin: 0px auto;
	    }
	    padding: 50px 30px;
	    border-radius: 5px;
	    position: relative;
	    .form-title {
	    	display: none;
	    }
	    i {
	    	position: absolute;
	    	top: 20px;
	    	right: 20px;
	    	font-size: 24px;
	    	cursor: pointer;
	    	color: #888888;
	    	transition: all 0.2s linear;
	    }
	    i:hover {
	    	color: #3c3c3c;
	    }
	    h3 {
	    	text-align: center;
			font-size: 26px;
			line-height: 32px;
			margin: 0 0 40px;
			text-transform: none;
	    }
	    p {
	    	text-align: center;
	    	padding: 0 80px;
	    	font-size: 16px;
			line-height: 24px;
			margin: 0 0 40px;
			color: #3c3c3c;
			@media (max-width: 767px) {
		        padding: 0;
		    }
	    }
	    form.hs-form {
	    	background: #f9f9f9;
	    	padding: 15px 30px 30px;
			> div {
				> label {
					display: none;
				}
			}
			.hs-input {
				font-size: 16px;
				line-height: 30px;
				border: none;
				border-top: 2px solid #e8e8e8;
				background: #fff;
				outline: none;
				padding: 0 25px;
				height: 55px;
				margin-top: 15px;
				color: #3c3c3c;
				font-weight: normal;
			}
			select.hs-input {
				color: #c00000;
				border: 1px solid #c00000;
				border-radius: 0;
				position: relative;
			}
			// select.hs-input:after {
			// 	content:"\f0dc";
			//     font-family: FontAwesome;
			//     color: #000;
			//     padding: 12px 8px;
			//     position: absolute; right: 0; top: 0;
			//     background: red;
			//     z-index: 1;
			//     text-align: center;
			//     width: 10%;
			//     height: 100%;
			//     pointer-events: none;
			//     box-sizing: border-box;
			// }
			.hs-error-msgs {
				margin: 0;
				padding: 0;
				li {
					list-style: none;
					margin: 0;
					text-align: center;
					color: #c00000;
					font-size: 12px;
					label {

					}
				}
			}
			.hs_submit {
				margin-top: 30px;
				text-align: right;
				input {
					text-transform: uppercase;
					background: #c00000;
					border: none;
					outline: none;
					color: #fff;
					padding: 22px 75px;
					font-size: 12px;
					line-height: 12px;
					cursor: pointer;
					transition: all 0.2s linear;
					@media (max-width: 767px) {
			            width: 100%;
			        }
				}
				input:hover {
					background: #e0e0e0;
					color: #c00000;
				}
			}
	    }
	}
}
.persona-law {
	.tear-module-wrapper {
		@media (max-width: 767px) {
			top: 50px;
		}
	}
}








