.testimonial-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;

    .grey-bg {
        background-color: #f9f9f9;
        padding: 60px 70px 65px;
        min-height: 530px;
        @media (max-width: 992px) {
            // padding: 50px 40px 20px 15px;
            min-height: 430px;
        }
        @media (max-width: 767px) {
            padding: 50px 40px 20px 15px;
            min-height: 460px;
        }
        @media (max-width: 485px) {
            padding: 50px 15px 50px 15px;
        }
    }
    .widget-type-header {
        h3 {
            margin: 0;
            margin-bottom: 40px;
        }
    }
    .testimonial-list {
        .slick-arrow {
            cursor: pointer;
            position: absolute;
            bottom: -30px;
            left: 26%;
            font-size: 32px;
            color: #c00000;
            transition: all .2s linear;
            @media (max-width: 992px) {
                left: 58%;
            }
        }
        .slick-arrow:first-child {
            left: 19%;
            @media (max-width: 992px) {
                left: 42%;
            }
        }
        .slick-arrow:hover {
            color: #000;
        }
    }
    .testimonial-image-right {
        position: absolute;
        top: 65px;
        right: 70px;
        width: 400px;
        @media (max-width: 992px) {
            display: none;
        }
        img {
            width: 100%;
            background: #f9f9f9;
        }
        @media (max-width: 1100px) {
            top: 65px;
            right: 70px;
            img {
                width: 300px !important;
            }
        }
        @media (max-width: 992px) {
            top: 120px;
            right: 70px;
            img {
                width: 300px !important;
            }
        }
    }
    .widget-type-widget_container {
        .testimonial-single {
            width: 53%;
            @media (max-width: 992px) {
                width: 100%;
            }
            position: relative;

            .quote-icon {
                display: inline-block;
                height: 44px;
                width: 44px;
                border: 1px solid #e0e0e0;

            }
            .quote-icon-left {
                border-top-left-radius: 50px;
                border-bottom-left-radius: 50px;
                border-bottom-right-radius: 50px;
            }
            .quote-icon-right {
                float: right;
                margin-left: 5px;
                border-top-left-radius: 50px;
                border-top-right-radius: 50px;
                border-bottom-right-radius: 50px;
                margin-top: -10px;
            }
            q {
                padding-left: 0;
                padding-right: 0;
                display: block;
                margin: 25px 0;
                color: #878787;
                font-size: 20px;
                line-height: 26px;
                font-weight: 300;
                margin-top: 5px;
            }
            p {
                display: inline-block;
                margin-top: 10px;
                font-size: 20px;
                line-height: 30px;
                color: #3c3c3c;
                float: left;
            }
            p::before {
                content: '';
                background: #7c7c7c;
                height: 2px;
                width: 20px;
                margin-right: 5px;
                margin-bottom: 6px;
                display: inline-block;
            }
        }
    }
}