.three-connect-box{
    max-width: 1200px;
    margin: 0 auto;
    min-height: 475px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-size: cover;
    @media (max-width: 767px) {
        flex-direction: column; 
    }
    .box{
        max-width:340px;
        text-align: center;
        margin: 0 10px;
        margin-top: 48px;
        @media (max-width: 767px) {
            max-width: 90%;
            margin: 20px auto 0px auto;
        }
    }
    .header-wrapper{
        background-color: #f9f9f9;
        margin-bottom: 0px;
        max-width: 340px;
        height: 140px;
        position: relative;
        @media (max-width: 767px) {
           max-width: 100%;
           width: 100%;
        }
        h4{
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform:translate(-50%,-50%);
            margin-top: 0px;
            color: #c00000;
        }    
        .hr{
            display: block;
            border-top: 1px solid #878787;
            position: absolute;
            width: 140px;
            z-index: 999;
            @media (max-width: 900px) {
                width: 70px;
            }
            @media (max-width: 767px) {
               display: none;
            }
            &:after{
                content: "";
                width: 6px;
                height: 6px;
                display: block;
                background-color: #878787;
                border-radius: 50%;
                position: absolute;
                top:50%;
                transform: translateY(-50%);
                right: 0px;
            }
            &:before{
                content: "";
                width: 6px;
                height: 6px;
                display: block;
                background-color: #878787;
                border-radius: 50%;
                position: absolute;
                top:50%;
                transform: translateY(-50%);
            }
        }
        .left{
            left: 0;
            top:50%;
            transform: translateX(-55%);
        }
        .right{
            right: 0;
            top: 50%;
            transform: translateX(55%);
        }
    }
    .content{
        p{
            text-align: left;
        }        
    }
}
















