.why-partner-wrapper {
    max-width: 1060px;
    margin: 0 auto;
    @media (max-width: 1060px) {
        padding: 0 15px;
    }
    .persona-law {
        .why-partner-bg {
            margin-bottom: 0;
        }
    }
    .why-partner-bg {
        margin-bottom: 40px;
        border-top: 1px solid #e0e0e0;
        @media (max-width: 767px) {
            margin-bottom: 20px;
        }
        .widget-type-header {
            margin-top: 60px;
            .hs_cos_wrapper_type_header {
                h3 {
                    margin: 0;
                    margin-bottom: 60px;
                    @media (max-width: 767px) {
                        margin-bottom: 30px;
                    }
                }
            }
        }
        .why-partner-inner {
            display: flex;
            flex-wrap: wrap;

            span.hs_cos_wrapper_type_widget_container {
                display: flex;
                @media (max-width: 992px) {
                    flex-wrap: wrap;
                }
                .why-partner-single {
                    position: relative;
                    padding-left: 70px;
                    padding-right: 25px;
                    font-weight: normal;
                    @media (max-width: 767px) {
                        padding: 0;
                        margin-bottom: 15px;
                    }
                    .why-partner-single-number {
                        color: #c00000;
                        font-size: 20px;
                        border: 2px solid #d7d7d7;
                        position: absolute;
                        left: 5px;
                        width: 50px;
                        height: 50px;
                        text-align: center;
                        line-height: 46px;
                        border-bottom-left-radius: 50px;
                        border-bottom-right-radius: 50px;
                        border-top-right-radius: 50px;
                        @media (max-width: 767px) {
                            margin-bottom: 30px;
                        }
                    }
                    h5 {
                        color: #3c3c3c;
                        font-size: 20px;
                        line-height: 26px;
                        margin: 5px 0 30px;
                        min-height: 50px;

                        @media (max-width: 767px) {
                            min-height: 55px;
                            padding-left: 70px;
                            margin: 10px 0 15px;
                        }
                    }
                    p {
                        color: #878787;
                        font-size: 16px;
                        line-height: 24px;
                        letter-spacing: -0.5px;
                        padding: 0 0 25px;
                        margin: 0;
                        font-weight: 300;
                    }
                }
            }
        }
    }
}